
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KiiPayPersonal/Views/Shared/_Layout_KiiPayPersonal.cshtml";
}



<div class="real_form pattern2 pdt40 ">
    <div class="container">

        <div class="row">
            <!-- Available balance -->
            <div class="col-lg-4 col-lg-offset-4 ">
                <div class="text-right wallet-balance  mb15">
                    <h5>Available balance</h5>
                    <h1 class="text-primary">$175.<small class="text-primary">86</small></h1>
                </div>
            </div>
            <!-- Available balance -->
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                <div class="login_signup mb50 clearfix text-left">


                    <label>Enter Payment Reference</label>
                    <div class="referencecode mb20">
                        <div class="col-lg-4">
                            <img src="~/Areas/KiiPayPersonal/images/kiipay.png" width="80"> <b>Ref:</b>
                        </div>

                        <div class="col-lg-8">
                            HV8
                            <input type="text" name="" class="refedashedinput" maxlength="1">
                            <input type="text" name="" class="refedashedinput" maxlength="1">
                            <input type="text" name="" class="refedashedinput" maxlength="1">
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <h4 class="text-center mb30">Paying a Supplier Abroad?   <a href="paying-supplier-abroad.php">Change</a></h4>
                </div>
                <div class="clearfix"></div>


                <div class="text-center   clearfix">
                    <hr>

                    <a href="pay-bills-reference-one.php" class="btn btn-primary btn-lg   ">Enter <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="clearfix mb30"> </div>
                    <a href=" " class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                </div>
            </div>

            <!--  -->

        </div>

    </div>
</div>

