
@{
    Layout = null;
}

<!DOCTYPE html>
<style>

    p {

        font-size : 100px;
    }
    img {
        text-align: center;
        margin-top: 100px;

    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    
    
    <img src="/Areas/Agent/images/logo.png" alt="">

    <p> Thank You For using MoneyFex </p>
</body>
</html>
