
@{
    ViewBag.Title = "ConfirmPasswordReset";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}
@*<!--  -->
    <div class="dynamic_bg_form ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    <h1>Password Reset</h1>

                </div>

            </div>
        </div>


    </div>
    <!--  -->
    <!--  -->
    <div class="real_form pattern2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login_signup">
                        <div class=" ">
                            <h4>Your account has been deactivated following password reset, please contact Admin on agentpasswordreset@moneyfex.com immediately for activation</h4>


                        </div>
                        <hr>
                        <form>





                            <!--  -->

                            <div class="col-lg-12 ">
                                @*<a href="dashboard.php" class="btn btn-primary  btn-sm ">Proceed to Dashboard </a>
                            </div>
                            <!--  -->



                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>

            </div>
        </div>


    </div>
    <!--  -->*@



<!--  -->
<div class="dynamic_bg_form ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">

                <h1>Password Reset</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form pattern2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login_signup">
                    <div class=" ">
                        <h4>Password Reset Successful</h4>


                    </div>
                    <hr>
                    <form>





                        <!--  -->

                        <div class="col-lg-12 ">
                            <a href="@Url.Action("GoToDashboard"  ,"AgentDashboard")" class="btn btn-primary  btn-sm ">Proceed to Dashboard </a>
                        </div>
                        <!--  -->



                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>

        </div>
    </div>


</div>
<!--  -->

