
@{
    ViewBag.Title = "ConfirmPasswordReset";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}



<!--  -->
<div class="dynamic_bg_form ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">

                <h1>First Login Successful</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form pattern2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login_signup" style="text-align:center">


                    <p> <b>You have successfully login!</b></p>
                    <p>
                        <b>
                            Your account is deactivated! <br />

                        </b>
                    </p>
                    <p>
                        <b>
                            Please contact your Agent Admin or MoneyFex customer service to activate your account before you can proceed
                        </b>
                    </p>


                    <hr>


                </div>
            </div>

        </div>
    </div>


</div>
<!--  -->
