
@{
    ViewBag.Title = "MerchantLogin";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login_signup">
                    <div class="text-center">
                        <h4>Welcome ! Login into Your MoneyFex Account </h4>
                        <p>Don't hav an account ? <a href="signup.php">Sign Up</a></p>
                    </div>
                    <hr>
                    <form>
                        <!--  -->
                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <input type="email" name="" class="form-control" placeholder="Email Address">
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="show_password" placeholder="Password">
                                    <div class="input-group-addon" id="passwoed_show"><i class="fa fa-eye"></i></div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name=" " value=" "> Remember me on this device (Not recommended on public shared devices)
                                </label>
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-5">
                            <p>
                                <a href="forgotpassword.php">Forgot Password</a>
                            </p>
                        </div>
                        <!--  -->
                        <!--  -->
                        <div class="col-lg-7 ">
                            <a href="merchant-payment-method.php" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                        <!--  -->
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--  -->
