
@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Email.cshtml";
}

<div style="padding:20px">

    <p>
        Dear @ViewBag.FaxerName and @ViewBag.CardUserName
    </p>
    <p>
        The details on your MoneyFex Card have been updated, if this update was done by you, then you do not have to do anything.
    </p>
    <p>
        However, if this update was not made by you, please contact MoneyFex Support Team immediately.
    </p>

   
</div>
