<div class="dbbottom-footer   ">
    <ul>
        <li><a href="@Url.Action("Index", "CardUserHome")"><i class="fa fa-home"></i> Home</a></li>
        <li>
            <a href="#ecard" data-toggle="modal" data-target="#ecard">
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                My   E-Card
            </a>
        </li>

        <li>  <a href="#"><i class="fa fa-bell"></i>   <span class="badge"></span> </a></li>
    </ul>

</div>