
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<div class="page-header" style="background:  url(/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index" , "Home")">Home</a></li>
                    <li class="active">Terms and Conditions</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <div class="row">
                        <h1 class="page-new">Terms and Conditions</h1>
                        <h3>1.CONTRACT FORMATION AND OVERVIEW</h3>
                        <p>1.1 The Terms and Conditions govern the terms under which you as a customer may access and use the website. Website in these Terms and Conditions include our mobile application (App) and the services associated with the App and Website. Accessing, registering and using our services mean that you have agreed to be bounded by the Terms and Conditions stipulated. However, if you do not wish to be bound by the Terms and Conditions specified, you MUST not access, register and use our services. This website (including mobile Apps and other Services we provide) is written in English Language, therefore all instructions and transactions shall be in English Language.</p>
                        <p>1.2 The terms “MoneyFex”, “us”,” we” and “our” used in these Terms and Conditions refer to MoneyFex Ltd, the employees and its affiliates. MoneyFex is a company registered in England and Wales with company registration Number – 10105082 and registered address -  1st Floor, North Westgate House Harlow, Essex London CM20 1YS United Kingdom. MoneyFex Ltd is authorised by the Financial Conduct Authority (FCA) under the Payment Service Regulations 2009 with Firm Reference Number 745989 for the provision of payment services.</p>
                        <p>1.3 “You” and “Your” in these Terms and Conditions refer to users of our services, users include Senders or Payers, Receiver or Beneficiary or Virtual Account User (refer to as Receiver), Service Provider or Merchant or Payee (a business owner) and other users or visitors to the website.</p>
                        <p>1.4 These Terms and Conditions are effective from the first date you access, register or use MoneyFex. These Terms and Conditions may change over time; however, any changes will only be effective 2 months from the date you were informed and will not change the terms on which you previously used the Service.</p>
                        <p>1.5 The Service was created: (a) to assist individuals wishing to send money to their family, friends and business associates using virtual accounts, and to receive money (disposable and non-disposable cash) which can be used to pay for goods and services in their country of residence (using virtual account electronic card to locally pay for goods and services);  (b) to offer customers the ability to pay for goods and services around the world through our network of registered Service Providers. For security reasons, we recommend that you only use our Service to send money to people you know personally. Furthermore, we also recommend that you only pay goods and/or services to our vetted Service Providers .</p>

                        <h3>2 DEFINITIONS AND DEFINITIONS</h3>
                        <p>The terms used in these Terms and Conditions are defined as follows:</p>
                        <p>
                            <b>“App”</b> refers to MoneyFex’s mobile application for sending of money, Paying for Goods and Services.
                        </p>
                        <p><b>“Receiver virtual account”</b> means a virtual account prepaid electronic which carries the account user’s details as registered by a money sender. This account which money can deposited into by money sender online is comes with an electronic card which is made available to the account user’s dashboard can be used to withdraw money from our registered agent in their country of residence, pay for goods and services from our vetted/registered Service providers and transfer money to other users in the network.</p>
                        <p>
                            <b>“Pay for Goods and Services Abroad”</b> refers to a service where a Payer pays a business organisation (i.e. Service Provider) locally or internationally. Payment can only be made to a Service Provider that has been vetted and registered to our system.
                        </p>
                        <p>
                            <b>“Business Day”</b> means any day on which we are open for business for the execution of Transfer Requests and/or Payment Requests.
                        </p>
                        <p>
                            <b>“Transaction”</b> process of sending and receiving money and paying for goods and services nationally or internationally.
                        </p>
                        <p>
                            <b>“Sending Request”</b> An instruction sent by money sender to MoneyFex to  deposit money into a virtual account and transfer money to a non MoneyFex virtual account user.
                        </p>
                        <p><b>"Receiving Country"</b> means the country in which the Payee receives money</p>
                        <p>
                            <b>“Sending Instruction”</b> means detailed information sent to MoneyFex Ltd by a money sender on who to and how should be paid to a receiver or payee.
                        </p>
                        <p>
                            <b>"Local Taxes"</b> means any taxes or charges payable in the Receiving Country.
                        </p>
                        <p>
                            <b>“Payee”</b> means someone who receives money/payments sent through MoneyFex. A MoneyFex registered Service Provider is also called a payee
                        </p>
                        <p>
                            <b>"Receiver"</b> means someone who has been authorised by the sender to withdraw/receive money that has been sent through MoneyFex.
                        </p>
                        <ol type="a">
                            <li>
                                a Payee; or
                            </li>
                            <li>
                                A Service Provider
                            </li>
                        </ol>
                        <p><b>"Payment Method"</b> means a valid method for paying for a transaction, this includes Direct Bank Deposit payment and debit card or credit card or Cryptocurrencies.</p>
                        <p><b>"Sender”</b> means someone who uses the MoneyFex’s money transfer platform to send money or pay for goods and services abroad. </p>
                        <p>
                            <b>"Sending Fee" </b>means MoneyFex’s commission fee plus any additional charges or Local Taxes if applicable. A fee is applicable to each Transaction as listed on the website.
                        </p>
                        <p><b>"Commission"</b> Also known as Transfer Fee</p>
                        <p>
                            <b>"Paying agent"</b> means a local bank, money exchange house, or other third-party service providers in the Destination Country with whom MoneyFex works to render money transfer service.
                        </p>
                        <p>
                            <b>"Payment Request"</b> Instructions given to MoneyFex by Payee to pay a merchant
                        </p>
                        <p><b>"Sending"</b> means the transfer of money through MoneyFex platform.</p>
                        <p>
                            <b>“Amount to be Received"</b> means the amount of money that the receiver will get in their local currency from a paying agent after deduction of commissions (including local charges if any).
                        </p>
                        <p>
                            <b>“Sending History”</b> means the record of your money sent (transfer made) on our website which you may access by login to your MoneyFex portal or dashboard (account).
                        </p>
                        <p>
                            <b>“Prohibited”</b> means activities which involve narcotics, steroids, pharmaceuticals, chemicals, drug paraphernalia, tobacco, seeds, plants, animals, military or semi-military goods or services, weapons (including dual-use goods), adult services or content, binary options or gambling services or any other activities that are prohibited by MoneyFex’s policies as amended from time to time.
                        </p>
                        <h3>
                            3 OUR OBLIGATIONS
                        </h3>
                        <p>
                            3.1 Subject to these Terms and Conditions, we agree to provide a money transfer and payment services to you using reasonable care. You acknowledge that the services may not be available, in whole or in part, in certain regions, countries, or jurisdictions.
                        </p>
                        <p>
                            3.2 We are not obliged to process any particular transaction. When you submit a transaction to us, you are requesting that we process the transaction on your behalf and consenting to the execution of the transaction. We may, in our sole discretion, choose whether or not to accept the offer to process the transaction for you. If we decide not to process your transaction, we will notify you promptly of that decision and repay to you the amount paid for that transaction as received by us, provided that we are not prohibited by law from doing so. If we choose to proceed with the transaction we may still suspend or cancel it in our discretion.
                        </p>
                        <p>
                            3.4 MoneyFex reserves the right to modify or discontinue the Transfer service or any part of the services we are offering without prior notice, at any time and from time to time.
                        </p>
                        <p>
                            3.5 We may, in our absolute discretion, refuse your transfer process or impose a limit on the Amount that can be transferred by you. We may do so either on a per Transaction basis or on an aggregate basis, and either in respect of one set of registration details or one Payment Method or on related sets of registration details or Payment Methods.
                        </p>
                        <p>3.6 Delivery times quoted on our service levels or elsewhere on our website are representative for the “normal” / average service and are not a guarantee of an individual transaction time.</p>
                        <p>
                            3.7 We will attempt to process your transaction promptly, but a transaction may be delayed or cancelled for a number of reasons including but not limited to: our efforts to verify your identity; to validate your transfer instructions; to contact you; or due to variations in business hours and currency availability; or otherwise to comply with applicable law.
                        </p>
                        <p>
                            3.8 We may send notifications in relation to your transaction by email and SMS. We will provide you with information after receipt of a Transfer Instructions enabling you to identify the transfer, along with details of the amount of the transfer in the currency used in the Transfer Request, our Transfer Fee, exchange rate and the date and time of your Transfer.
                        </p>
                        <p>
                            3.9 We will attempt to provide the Money Sender and the Receiver with up to date information regarding the location and opening hours of our paying agents or business providers by means of information on our website. However, you agree that MoneyFex shall not be held responsible for any inaccuracies that may appear in that information or any consequential loss which may result from incorrect or incomplete information.
                        </p>
                        <p>
                            3.10 For the purpose of the Payment Services Regulations 2017, the following fields either in totality or a subset thereof can be considered to be unique identifiers:
                        </p>
                        <h4>
                            Cash Pick Up or Withdrawal using Virtual Account Electronic Card
                        </h4>
                        <p>Receiver/Payee Full Name</p>
                        <p>
                            Electronic Card Number
                        </p>
                        <h4>
                            Service Provider Payment
                        </h4>
                        <p>Service Provider’s Name</p>
                        <p>
                            Service Provider’s Account Number
                        </p>
                        <p>
                            In the event you have provided us with an incorrect unique identifier in respect of a Transfer which falls under the Payment Services Regulations 2017 and your Transfer has been misdirected, you may make a written request for the full details of the Receiver by contacting us using one of the channels listed at the end of these Terms and Conditions and we will provide you with such details to the extent required and permitted by law.
                        </p>
                        <h3>
                            4 YOUR OBLIGATIONS
                        </h3>
                        <p>
                            <b>
                                4.1 You agree that:
                            </b>
                        </p>
                        <p>
                            4.1.1 on no occasion will you use or attempt to use MoneyFex to transfer money or pay for goods and services unless you are at least 18 years old, and that you have the legal capacity to form a binding legal contract in any relevant jurisdiction;
                        </p>
                        <p>4.1.2 for each Sending Request that you submit, you will pay us the Transfer Fee in addition to the Transfer Amount. Payment becomes due at the time that you submit your Sending Request to us. To the maximum extent permitted by law, the Transfer Fee is non-refundable unless expressly stated in these Terms and Conditions. If you submit a Sending Request that results in MoneyFex becoming liable for charges including but not limited to chargeback or other fees, you agree to reimburse us for all such fees;</p>
                        <p>4.1.3 for Sending Request that involves MoneyFex Virtual Account Deposit, they shall be no additional charges except for the transfer fee stated in clause 4.1.2.</p>
                        <p>4.1.4 we may apply a convenience fee for processing credit cards in certain jurisdictions at our discretion;</p>

                        <p>4.1.5 you will not use any device, software or routine to interfere or attempt to interfere with the proper working of our website or any Instruction being conducted through the website;</p>
                        <p>4.1.6 with regard to your registration and use of our website, you will:</p>
                        <p>(a) provide us with true, accurate, current and complete evidence of your identity, and promptly update your personal information if and when it changes;</p>
                        <p>(b) provide us with any identity documentations as may be requested by us;</p>
                        <p>(c) provide us with details of one or more Payment Methods;</p>
                        <p>(d) provide us with true, accurate, current and complete information of your Receiver or Payee as specified on the website</p>
                        <p>(e) provide us with:</p>
                        <p>(i) any other information that must be provided for a Sending Request to be properly executed, as specified when you enter the details of the transaction you are interested on our website; and</p>
                        <p>(ii) such information relating to the transaction as detailed in clause 5.4.</p>
                        <p>4.2 We do not accept any liability for loss or damages to you or any third party resulting from non-payment or delay in payment of the Amount to be Received to a Payee or failure to perform the transfer Instruction if you are in breach of your obligations listed in clause 4.1</p>
                        <p>4.3 When you are using MoneyFex under these Terms and Conditions, it is your responsibility to make sure all the details are accurate before submission. Once a Sending Request has been received it is not normally possible to change any details of that Request. You will be given the opportunity to confirm Sending Requests before submission and you must check the details carefully.</p>
                        <p>4.4 The Total Amount (the Transfer Amount, Transfer Fee and other applicable fees and charges) that you will be required to pay, and the relevant exchange rate will be displayed clearly on the website before you are asked to confirm your transaction and proceeding with the transfer at this point is entirely optional.</p>
                        <p>4.5 When you pay the Transfer Amount in one currency and the Received Amount is in another currency, there will be a difference between the exchange rate at which we buy foreign currency and the exchange rate provided to you. MoneyFex and its Paying Agents usually make a small profit in these circumstances. In so doing, we guarantee you the Received Amount in local currency. The margin taken on foreign currency exchange covers our risk in guaranteeing this. If a Receiver’s or Payee’s account is denominated in a currency other than the currency you instructed us in your Sending Request, there may be delays, additional charges or different exchange rates. The Money Sender is therefore responsible for ensuring that the currency requested for the Transfer matches the Receiver’s currency.</p>
                        <p>4.6 MoneyFex will have no responsibility for any fees or charges you may incur by the use of a particular Payment Methods to fund a Transfer. These may include but are not limited to unauthorised overdraft fees imposed by banks if there are insufficient funds in your bank account or "cash advance" fees and additional interest which may be imposed by credit card providers if they treat use of the MoneyFex as a cash transaction rather than a purchase transaction.</p>
                        <p>4.7 You will only use MoneyFex to Transfer money to people that you know personally and pay for goods and services through Merchants (service providers) who are vetted and registered on our database. You acknowledge that MoneyFex may refuse to process your Transfer Request where we believe you are using the website to purchase goods or services from third party organisations you do not know and trust or where we believe that MoneyFex is being used, by you or the Receiver, in furtherance of fraudulent, illegal or Prohibited activities. If you choose to pay a merchant for goods and services using the MoneyFex, you acknowledge that we do not have control over the goods or services and we are not responsible for the quality, safety, legality, or delivery of such goods or services and that any such use of the MoneyFex is entirely at your own risk.</p>
                        <p>4.8 Both you and the Receiver will only act on your own behalf. You may not submit a Transfer Instruction or receive a Transfer on behalf of a third person. If you intend to submit a Transfer Instruction or receive a Transfer on behalf of a third person, you must first inform MoneyFex of your desire to do so and provide us with any additional information about the third person we may request in order that we may decide whether to permit the Transfer or not.</p>
                        <p>4.9 In using MoneyFex you will comply with these Terms and Conditions as well as any applicable laws, rules or regulations. It is a breach of these Terms and Conditions to use MoneyFex to Transfer Money: (i) to a Payee who has violated the Terms and Conditions, or (ii) in connection with illegal activity including but not limited to money-laundering, fraud and the funding of terrorist organisations. If we reasonably believe you are using MoneyFex in connection with illegal activity or for any fraudulent purpose, or are permitting a third party to do so, we may report you to the appropriate legal authorities.</p>
                        <p>4.10 When using our website or when interacting with MoneyFex, with another user or with a third party, you will not:</p>
                        <p>4.10.1 breach these Terms and Conditions, or any other agreement between you and MoneyFex;</p>
                        <p>4.10.2 create more than one registration without our prior written permission;</p>
                        <p>4.10.3 provide false, inaccurate, or misleading information;</p>
                        <p>4.10.4 allow anyone else access to your registration details, and you will keep those details safe and secure;</p>
                        <p>
                            4.10.5 refuse to provide confirmation of any information you provide to us, including proof of identity, or refuse to co-operate in any investigation;
                        </p>
                        <p>
                            4.10.6 use an anonymising proxy (a tool that attempts to make activity untraceable); or
                        </p>
                        <p>
                            4.10.7 copy or monitor our website using any robot, spider, or other automatic device or manual process, without our prior written permission.
                        </p>
                        <p>
                            4.11 You acknowledge that nothing in these Terms and Conditions or in any other information provided by MoneyFex is intended to be, nor should it be construed to be, legal or other advice. If required, you agree to consult your own professional advisers as to the effects of English or foreign laws which may apply to the Service.
                        </p>
                        <h3>5 OUR RIGHT TO REFUSE, SUSPEND OR CANCEL</h3>
                        <p>5.1 We may refuse any Transfer or Payment Request at any time for any reason (or cancel it where relevant). Notwithstanding this, we set out here some examples of when that may occur.</p>
                        <p>5.1.1 We may, in our absolute discretion, refuse or cancel a Transfer or Payment Requests where we believe that the MoneyFex is being used, whether by you or the Receiver, in furtherance of illegal, fraudulent or Prohibited activities.</p>
                        <p>5.1.2 We may, in our absolute discretion, refuse or cancel a Transfer or Payment Request from certain Money Sender or to certain Payees/Receivers, including but not limited to entities and individuals on restricted or prohibited lists issued from time to time by any government authorities, if we are required to do so by law, or where we have reason to believe processing the Transfer or Payment Request would violate anti-money laundering or counter-terrorism financing laws and regulations. We may refuse to process a Transfer funded from certain Payment Methods where we have reason to believe the security of the Payment Instrument has been compromised or where we suspect the unauthorised or fraudulent use of the Payment Method.</p>
                        <p>5.1.3 We may, in our absolute discretion, refuse or cancel a Transfer or Payment Requests if MoneyFex believes you are using the Service to purchase goods or services from third parties you do not know or trust.</p>
                        <p>5.1.4 We may, in our absolute discretion, refuse or cancel Transfer or Payment Requests if:</p>
                        <p>(a) MoneyFex is unable to verify your identity;</p>
                        <p>(b) MoneyFex is unable to verify the identity of the Receiver;</p>
                        <p>(c) You do not comply with information requests pursuant to clause 5.4; or</p>
                        <p>(d) MoneyFex reasonably believes you are using the Service, or allowing it to be used, in breach of these Terms and Conditions or any applicable laws, rules or regulations.</p>
                        <p>5.2 Where MoneyFex has refused or cancelled a Transfer or Payment Requests, MoneyFex may also, at its discretion, temporarily or permanently suspend your Registration</p>
                        <p>5.3 Where MoneyFex temporarily or permanently suspends your Registration or refuses or cancels a Transfer or Payment Request in accordance with this clause 5, MoneyFex shall be entitled to retain any Transfer Fees already incurred.</p>
                        <p>5.4 In order to comply with our obligations under relevant laws, we reserve the right to ask for further information or evidence relating to the purpose of a Transfer.</p>
                        <h3>6 YOUR RIGHT TO CANCEL AND REFUNDS</h3>
                        <p>6.1 To the extent permitted by law, once we have received your Transfer Instruction, you do not have the automatic right to revoke it.</p>
                        <p>6.2 Notwithstanding clause 6.1 above, MoneyFex may, in its absolute discretion, or shall if required by law, attempt to cancel or recall your Instruction if you have informed us that you wish to revoke it. In some cases, MoneyFex may have initiated an irreversible request for funds to be paid out to your Receiver/Payee by a Paying Agent and therefore cannot guarantee cancellation will be successful. For successful revocations MoneyFex will normally refund your money, less any reasonable revocation, recall or tracing charges and any Transfer Fees already charged, within four (4) Business Days.</p>
                        <p>
                            6.3 If you:
                        </p>
                        <p>
                            6.3.1 have any problems using the MoneyFex; or
                        </p>
                        <p>
                            6.3.2 are aware of any unauthorised or incorrectly executed Transactions;
                        </p>
                        <p>
                            you should contact us through the channels listed at the end of these Terms and Conditions without delay and in any event no later than 13 months after the date the Transferred Amount was debited, upon becoming aware of the unauthorised or incorrectly executed Transfer. A request for a refund must be submitted in writing (including by email) to one of the contact points listed at the bottom of these Terms and Conditions, giving the Sender's full name, address, and phone number, together with the MoneyFex Control Number,Transferred Amount, and the reason for your refund request.
                        </p>
                        <p>
                            6.4 If we have executed the Sending Request in accordance with the instructions you have provided to us, and that information proves to have been incorrect, we are not liable for the incorrect execution of the Transfer. We will however make reasonable efforts to recover the funds. We may charge you a reasonable fee, reflective of our efforts, to do so.
                        </p>
                        <p>
                            6.5 Where MoneyFex has executed the Transfer otherwise than in accordance with your Instruction, subject to clause 11.2, MoneyFex will refund the full amount debited. Unless there are exceptional circumstances, no adjustment will be made for any currency fluctuations which may have occurred between the time you pay us the Transfer Amount and the time of credit.
                        </p>
                        <p>
                            6.6 Any refunds will be credited back to the same Payment Method used to fund the Transfer and in the same currency.
                        </p>
                        <h3>7 MoneyFex Receiver Virtual Account</h3>
                        <p>7.1 To deposit money into a virtual account, you agree to comply with and undertake the provisions set out in these Terms and Conditions and this clause </p>
                        <p>
                            7.2 The virtual account service shall only be provided to you by us after you have duly register an account which you can subsequently deposit money into. These service is subject to changes and availability.
                        </p>
                        <p>
                            7.3 You will be required to input/select a virtual number that you wish to credit. It is your responsibility to ensure that you have selected the right account number. You will then be required to enter the deposit amount and make payment using a payment method of your choice.
                        </p>
                        <p>
                            7.6 There is shall be no additional fee for using the virtual account service. T
                        </p>
                        <p>7.7 The deposit amount and Fee that you will be required to pay will be displayed clearly on the website before you are asked to proceed to payment. </p>
                        <p>
                            7.8 Where you have opted to select auto account deposit,  the virtual account shall be credited using your saved credit/debit card information as soon as the amount available to be withdrawn/spent from the account by user reaches zero (0). Additionally, the exchange rates and fees at the time will be applied. This process may fail if the saved credit/debit card on file has expired.
                        </p>
                        <p>
                            7.9 MoneyFex will never share your saved credit/debit cards with any other party. The card information is completely masked from our employees, associates and the general public. The saved card shall ONLY be used for the purpose of automatic deposit and other payments as specified by you.
                        </p>
                        <p>
                            7.10 Money deposited into a virtual account is instantly available for withdrawal/spending by the account user. Occasionally, there may be a short delay before the relevant information is available to the Agent because of Network delay. If you have questions about a longer delay, please contact <a href="mailto:customerservice@MoneyFex.com">customerservice@MoneyFex.com</a>
                        </p>
                        <p>
                            7.11 You agree and understand that we only act on your authorisation to deposit money into a virtual account. Once the the account has been credited, it cannot be refunded or cancelled except transferring to another of your registered virtual account. To stop this mistake from happening, we ask you to ensure that, the right virtual account number  is selected from the list of your registered receiver virtual accounts before proceeding to credit money into it.
                        </p>
                        <p>
                            7.12 You acknowledge that you will lose the right to cancel the a deposit once it has been confirmed by us. Accordingly, you will have no right to request a refund under the European Union (Consumer Information, Cancellation and Other Rights) Regulations 2013.
                        </p>
                        <p>
                            7.13 Please note that MoneyFex has absolute discretion to limit the number of deposits that can be performed or the maximum value of deposit over a given period of time e.g. daily, weekly, monthly and yearly.
                        </p>
                        <p>
                            7.14 Other limits and exclusions related to virtual account deposits or the use of the website may be applicable. You will be notified through the website or by email of these additional limitations should they exist or come into existence.
                        </p>
                        <h3>PAYMENT FOR GOODS AND SERVICES </h3>
                        <p>
                            8.1 You agree that you will not try to pay for good and/or services to individuals or merchants (service providers) you do not know personally. Even though, MoneyFex will vet and ensure that only legitimate/legal merchants are registered on database to accept payments, it is your responsibility to make contact with any potential merchant that you may wish to make payment to and agree on amount before proceeding to send a payment request to us.
                        </p>
                        <p>
                            8.2 You agree and understand that we only act on your authorisation to pay a Merchant. Once the Merchant’s MoneyFex Account has been credited, it cannot be refunded or withdrawn from the Merchant’s account. To stop this mistake from happening, we ask you to ensure that the right Merchant is searched and selected from the database before proceeding to pay the merchant.
                        </p>
                        <p>
                            8.2 You acknowledge that Paying for Goods and Services may not be available, in whole or in part, in certain regions, countries, or jurisdictions.
                        </p>
                        <p>8.3 We are not obliged to process any particular Payment for goods and services Request. When you submit a Payment Request, you are requesting that we process the Payment Request on your behalf and consenting to us contacting the Merchant for these purposes. You acknowledge and agree that, when we send a Payment Request by SMS text or email message to a Merchant on your behalf, we may use the mobile telephone number/email address associated with your account for this purpose (i.e. the Payment Request we send will show as being sent from your mobile telephone number/email address). We may, in our sole discretion, choose whether or not to process that Payment Request, or impose limits on Payment Requests. </p>
                        <p>In particular, we may, in our absolute discretion, refuse Payment Requests and/or suspend or cancel your account with us where (i) you are in breach of clause 4, (ii) we believe that MoneyFex is being used, whether by you or the Merchant, in furtherance of illegal, fraudulent or Prohibited activities, or (iii) we are required to do so by law (including applicable anti-money laundering and counter-terrorism legislation) or (iv) we are unable to verify either your identity or that of the Merchant.</p>
                        <p>
                            8.5 Cancellation of Payment Requests. Once we have received your Payment Request, you may not cancel it. In such circumstances you would need to contact the Merchant separately and explain that you require the Payment Request to be treated as cancelled. Please ensure that your Payment Requests are legitimate, accurate and complete.
                        </p>
                        <h3>COLLECTION OF INFORMATION</h3>
                        <p>
                            9.1 Customer Identification Program. English law requires all financial institutions to assist in the fight against money laundering activities and the funding of terrorism by obtaining, verifying, and recording identifying information about all customers. We may therefore require you to supply us with personal identifying information relating to you and the Receiver and we may also legally consult other sources to obtain information about you and the Recipient.
                        </p>
                        <p>
                            9.2 Verification and Checks. We will verify your residential address and personal details in order to confirm your identity. We may also pass your personal information to a credit reference agency, which may keep a record of that information. Be assured that this is done only to confirm your identity, and that we do not perform credit checks and therefore your credit rating will be unaffected. We may also need to verify the identity of a Receiver or a card user in the same way. All information provided by you will be treated securely and strictly in accordance with the Data Protection Act 1998. By accepting these Terms and Conditions you authorise us to make any inquiries we consider necessary to validate the information that you provide to us. We may do this directly, for example by asking you for additional information, or requiring you to take steps to confirm ownership of your Payment Methods or email address; or indirectly, for example by verifying your information against third party databases or through other sources.
                        </p>
                        <p>9.3 Data Privacy Policy. You consent to us to process your personal information for the purposes of providing transferring money and paying for goods and services, including for verification purposes as set out in this clause. You also consent to the use of such data to enable us and our authorised third parties to communicate with you, and for statutory, accounting and archival purposes, in accordance with the terms of MoneyFex’s Privacy Policy. You acknowledge that you have read and consented to MoneyFex's Privacy Policy. The Privacy Policy can be found by clicking <a href="">here.</a></p>
                        <p>
                            9.4 Government Disclosures. We may be required by law to provide information about you, your use of MoneyFex and your Payment and Money Transfer Instructions to government or other competent authorities as described in our Data Privacy Policy. You acknowledge and consent to us doing this.
                        </p>
                        <p>
                            9.5 MoneyFex may, as necessary in providing the Service, store all information required of a Receiver or card user to prove his or her identity or associated with their specific Instruction. Such proofs may include a suitable form of valid, unexpired identification from a list of acceptable papers provided by the Paying Agent, and/or a MoneyFex Control Number, or other similar identifiers.
                        </p>
                        <h3>NTELLECTUAL PROPERTY</h3>
                        <p>
                            10.1 MoneyFex website and associated Services, the content, and all intellectual property relating to them and contained in them (including but not limited to copyrights, patents, database rights, trademarks and service marks) are owned by us, our affiliates, or third parties. All right, title and interest in and to MoneyFex website shall remain our property and/or the property of such other third parties.
                        </p>
                        <p>
                            10.2 MoneyFex website and associated Services may be used only for the purposes permitted by these Terms and Conditions or described on the website. You are authorised solely to view and to retain a copy of the pages of the MoneyFex website for your own personal use. You may not duplicate, publish, modify, create derivative works from, participate in the transfer or sale of, post on the internet, or in any way distribute or exploit the MoneyFex website or any portion thereof for any public or commercial use without our express written permission. You may not: (a) use any robot, spider, scraper or other automated device to access the MoneyFex website and associated Services; and/or (b) remove or alter any copyright, trademark or other proprietary notice or legend displayed on the MoneyFex website (or printed pages of the website). The name “MoneyFex” and other names and indicia of ownership of MoneyFex's products and/or services referred to on the MoneyFex website are our exclusive marks or the exclusive marks of other third parties. Other products, services and company names appearing on the website may be trademarks of their respective owners, and therefore you should not use, copy or reproduce them in any way.
                        </p>
                        <h3>
                            WARRANTIES AND LIABILITY
                        </h3>
                        <p>
                            11.1 Where we have materially breached these Terms and Conditions causing the Sender a loss, we will refund the Money Sender the Transfer Amount and the Transfer Fee.
                        </p>
                        <p>
                            11.2 If a Transfer is delayed or fails, or if an executed Transfer is not authorised, you may have a right to receive a refund or compensation under laws relating to the provision of international money transfer services. In the case of any unauthorised or incorrectly executed Transfer, any such right may be prejudiced if you do not notify us of the unauthorised or incorrectly executed Transfer without delay, or in any event within thirteen months after the debit date. We will provide you with the further details of your rights to a refund or compensation if you contact us using the contact details at the end of these Terms and Conditions.
                        </p>
                        <p>
                            11.3 Any claim for compensation made by you must be supported by any available relevant documentation.
                        </p>
                        <p>
                            11.4 If any loss that you suffer is not covered by a right to payment under the laws referred to in clause 11.2, we will only accept liability for that loss up to a limit which is the greater of: (a) the amount of any Transfer Fee and (b) £500, unless otherwise agreed by us in writing. The cap on our liability only limits a claim for loss arising out of any single Transfer or series of related Transfers, or (if a loss does not arise out of a Transfer or related Transfers) any single act, omission or event or related acts, omissions or events. This means that if, for example, you suffer loss by reason of our failure to perform our agreement with you under two unrelated Transfers, you might be able to claim up to £1,000.
                        </p>
                        <p>
                            11.5 We do not, in any event, accept responsibility for:
                        </p>
                        <p>11.5.1 any failure to perform a Transfer Instruction as a result of circumstances which could reasonably be considered to be due to abnormal and unforeseen circumstances or outside our control or due to our obligations under any applicable laws, rules or regulations;</p>
                        <p>
                            11.5.2 malfunctions in communications facilities which cannot reasonably be considered to be under our control and that may affect the accuracy or timeliness of messages you send to us;
                        </p>
                        <p>
                            11.5.3 any losses or delays in transmission of messages arising out of the use of any internet or telecommunications service provider or caused by any browser or other software which is not under our control; or
                        </p>
                        <p>
                            11.5.4 errors on the website caused by incomplete or incorrect information provided to us by you or a third party.
                        </p>
                        <p>
                            11.6 Nothing in this clause 11 shall (a) exclude or limit liability on our part for death or personal injury resulting from our negligence; or (b) exclude our liability for fraud.
                        </p>
                        <p>
                            11.7 Where you are sending a Sending money to a Receiver/Payee who is not registered with us, you agree to accept the provisions of this clause 11 not only for yourself, but also on behalf of the Receiver/Payee.
                        </p>
                        <p>
                            11.8 Your relationship is with MoneyFex only. You agree that no affiliate or agent of MoneyFex owes you any duty of care when performing a task which would otherwise have to be performed by MoneyFex under its agreement with you.
                        </p>
                        <p>11.9 You understand and acknowledge that you are liable for all losses incurred in respect of an unauthorised Transfer or Instruction or any other unauthorised use of the website, where you have acted fraudulently or negligently and you agree to be responsible for and hold harmless MoneyFex, our subsidiaries, affiliates, officers, employees, agents, merchants, independent contractors, advertisers, partners, and co-branders from all loss, damage, claims, actions or demands, including reasonable legal fees, arising out of your use or misuse of the website ,all activities that occur under your password or account e- mail login, your violation of these Terms and Conditions or any other violation of the rights of another person or party.</p>
                        <h3>USE OF MONEYFEX APP</h3>
                        <p>12.1 In consideration of you agreeing to abide by these Terms and Conditions, we grant you a non-transferable, non-exclusive licence to use the App, subject to these Terms and Conditions, our Privacy Policy and the applicable app-store terms (incorporated into these Terms and Conditions by reference) as may be amended from time to time. We reserve all other rights.</p>

                        <p>
                            12.2 Except as expressly set out in these Terms and Conditions or as permitted by any local law, you agree:
                        </p>
                        <p>
                            12.2.1 not to copy the App (except where such copying is incidental to normal use of the App, or where it is necessary for the purpose of back-up or operational security); and
                        </p>
                        <p>
                            12.2.2 not to rent, lease, sub-license, loan, alter, translate, merge, adapt, vary or modify the App.
                        </p>
                        <p>
                            12.3 You acknowledge that the App has not been developed to meet your individual requirements, and that it is therefore your responsibility to ensure that the facilities and functions of the App meet your requirements.
                        </p>
                        <p>
                            12.4 We only supply the App for domestic and private use. You agree not to use the App for any commercial, business or resale purposes, and we have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity. Specifically (but without limitation), we do not accept any liability for loss or damages to you or any third party resulting from any delay in us processing an Instruction or refusal by us to execute a Transaction pursuant to these Terms and Conditions.
                        </p>
                        <p>
                            12.5 The App is provided to you free of charge and as a result no representations, conditions, warranties or other terms of any kind are given in respect of the App, and all statutory warranties and conditions are excluded to the fullest extent possible under applicable law.
                        </p>
                        <p>
                            12.6 In relation to your use of the App, we do not, in any event, to the extent permitted by law, accept responsibility for:
                        </p>
                        <p>
                            12.6.1 any failure to perform the intended service, or any losses or delays in the transmission of messages, due to circumstances outside our control or due to our obligations under any applicable laws, rules or regulations;
                        </p>
                        <p>
                            12.6.2 malfunctions in communications facilities which cannot reasonably be considered to be under our control and that may affect the accuracy or timeliness of messages we send to one another;
                        </p>
                        <p>
                            12.6.3 errors in the App or with the Service caused by incomplete or incorrect information provided to us by you or a third party; or
                        </p>
                        <p>
                            12.6.4 any loss or damage you suffered by you as a result of you using our App on a ‘jailbroken’, ‘rooted’ or otherwise modified device.
                        </p>
                        <h3>ELECTRONIC COMMUNICATIONS</h3>
                        <p>
                            13.1 You acknowledge that these Terms and Conditions shall be entered into electronically, and that the following categories of information ("Communications") may be provided by electronic means:
                        </p>
                        <p>
                            13.1.1 these Terms and Conditions and any amendments, modifications or supplements to it;
                        </p>
                        <p>13.1.2 your records through the MoneyFex;</p>
                        <p>
                            13.1.3 any initial, periodic or other disclosures or notices provided in connection with the service we offer, including without limitation those required by law;
                        </p>
                        <p>
                            13.1.4 any customer service communications, including without limitation communications with respect to claims of error or unauthorised use of the Service; and
                        </p>
                        <p>
                            13.1.5 any other communication related to the MoneyFex.
                        </p>
                        <p>
                            13.2 MoneyFex does not allow for Communications to be provided in paper format or through other non-electronic means. You may withdraw your consent to receive Communications electronically, but if you do, your use of the website shall be terminated. In order to withdraw your consent, you must contact us using our contact information at the end of these Terms and Conditions.
                        </p>
                        <p>
                            13.3 In order to access and retain Communications, you must have or have access to the following:
                        </p>
                        <p>
                            13.3.1 an internet browser that supports256 – bit such as Internet Explorer version 8.0 or above;
                        </p>
                        <p>
                            13.3.2 an e-mail account, e-mail software capable of interfacing with MoneyFex's e-mail servers and the capability to read e-mail from MoneyFex, and a device and internet connection capable of supporting the foregoing; and
                        </p>
                        <p>
                            13.3.3 sufficient electronic storage capacity on your electronic device’s hard drive or other data storage unit; or
                        </p>
                        <p>
                            13.3.4 a printer that is capable of printing from your browser and e-mail software.
                        </p>
                        <p>
                            13.4 In addition, you must promptly update us with any change in your email address by updating your profile at https://www.MoneyFex.com.
                        </p>
                        <h3>TERMINATION</h3>
                        <p>14.1 You may terminate these Terms and Conditions on one month’s written notice. We may terminate these Terms and Conditions upon two months’ notice, except as provided for in clause 14.2.</p>
                        <p>
                            14.2 We may terminate these Terms and Conditions with immediate effect if you:
                        </p>
                        <p>
                            14.2.1 become, or we reasonably believe or become aware you are likely to become, insolvent or are declared bankrupt;
                        </p>
                        <p>
                            14.2.2 are in breach of any provision of these Terms and Conditions;
                        </p>
                        <p>
                            14.2.3 use the website in a way that is disruptive to our other customers, or you do anything which in our opinion is likely to bring us into disrepute;
                        </p>
                        <p>
                            14.2.4 through any means of communication intimidate, harass or threaten MoneyFex or its employees with violence, property damage or any other offensive, indecent or hateful material;
                        </p>
                        <p>
                            14.2.5 breach or attempt to breach the security of the website (including but not limited to: modifying or attempting to modify any information; unauthorised log-ins, unauthorised data access or deletion; interfering with the service, system, host or network; reverse engineering of any kind; spamming; hacking; falsifying data; introducing viruses, Trojan horses, worms or other destructive or damaging programs or engines; or testing security in any way); or
                        </p>
                        <p>
                            14.2.6 are, in MoneyFex’s reasonable belief, using the website in connection with fraudulent, illegal or Prohibited activity, or permitting a third party to do so.
                        </p>
                        <h3>
                            COMPLAINTS
                        </h3>
                        <p>
                            15.1 If you wish to make a complaint about any aspect of the MoneyFex’s offering, please send your complaint in writing to the address shown on the Contact Us page of our website or by email to customerservice@MoneyFex.com.
                        </p>
                        <p>
                            15.2 We will acknowledge receipt of your complaint within 2 Business Days. We will investigate your complaint and come back to you with the results of our investigation no later than 7 Business Days after the receipt of our acknowledgement of your complaint.
                        </p>
                        <p>
                            15.3 If you are not satisfied with the manner in which we have dealt with your complaint, or the outcome, then you may refer the matter to the Financial Ombudsman Service, South Quay Plaza, 183 Marsh Wall, London E14 9SR, Tel No 0800 0234 567, Email: complaint.info@financial-ombudsman.org.uk.
                        </p>
                        <h4>
                            16 GENERAL</ h4>
                            <p>
                                16.1 Governing law: this Agreement will be governed by English law and the parties submit to the exclusive jurisdiction of the English Courts.
                            </p>
                            <p>
                                16.2 No Waiver: The failure of MoneyFex to exercise or enforce any right or provision of the Terms and Conditions shall not constitute a waiver of such right or provision.
                            </p>
                            <p>
                                16.3 Modification: We may modify these Terms and Conditions from time to time without notice to you, except as may be required by law. You can review the most current version of the Terms and Conditions at any time by reviewing the website. You may terminate your use of MoneyFex if you do not agree with any modification or amendment. If you use the website after the effective date of an amendment or modification, you shall be deemed to have accepted that amendment or modification. You agree that you shall not modify these Terms and Conditions and acknowledge that any attempts by you to modify these Terms and Conditions shall be void.
                            </p>
                            <p>
                                16.4 Entire Agreement: This agreement constitutes the entire agreement between the parties and supersedes all prior understandings or agreements relating to the subject matter of this agreement.
                            </p>
                            <p>
                                16.5 Severability: If any provision of the Terms and Conditions is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavour to give appropriately valid effect to the intention of the Terms and Conditions as reflected in the provision, and the other provisions of the Terms and Conditions shall remain in full force and effect.
                            </p>
                            <p>
                                16.6 Any external links to third-party websites on the website are provided as a convenience to you. These sites are not controlled by us in any way and we are not responsible for the accuracy, completeness, legality or any other aspect of these other sites including any content provided on them. You access such websites at your own risk.
                            </p>
                            <h4>
                                Security
                            </h4>
                            <p>
                                We take security very seriously at MoneyFex and we work hard, using state-of-the-art security measures, to make sure that your information remains secure. MoneyFex is a safe and convenient way to send money and/ or Pay for Goods and Services to others people/or Merchant that you trust.
                            </p>
                            <p>
                                However, we do advise you to consider very carefully before sending money to anyone that you do not know well. In particular, you should be very cautious of deals or offers that seem too good to be true - they may be scams. If you are aware of anyone or any entity that is using the MoneyFex inappropriately, please email us. Similarly, if you receive any emails, purporting to be from MoneyFex, which you suspect may be "phishing" (fake) emails, please forward the email to us at customerservice@MoneyFex.com.
                            </p>
                            <h4>
                                Contact Information
                            </h4>
                            <p>
                                Questions, notices, and requests for refunds or further information should be sent to MoneyFex, as follows:
                            </p>
                            <p>
                                online at <a href="https://moneyfex.com/Contact">https://moneyfex.com/Contact</a>
                            </p>
                            <p>
                                by email to <a href="mailto:customerservice@MoneyFex.com">customerservice@MoneyFex.com</a>;
                            </p>
                            <p>
                                by telephone at +44(0)2081445215;
                            </p>
                            <p>
                                or by post to: MoneyFex, attn: Customer Service, MoneyFex Ltd, 1st Floor, North Westgate House Harlow, Essex London CM20 1YS United Kingdom
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>