
@{
    ViewBag.Title = "NonCardPaymentMethodDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>
                    Cash to Cash Transfer
                </h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <form>

                    <div class="col-lg-8">
                        <div class="form-group">
                            <select class="form-control" onchange="getval(this);">
                                <option>-Select Money Sending payment method--</option>
                                <option value="non-money-fax-using-credit-debit.php">Send Money Using Credit/Debit Card</option>

                                <option value="non-money-fax-using-saved-credit-debit.php">Send Money Using Saved Credit/Debit Card</option>
                                <option value="non-money-fax-bank-to-bank.php">Send Money using Bank-to-bank Payment</option>

                            </select>

                        </div>
                    </div>
                    <br />
                    <div class="clearfix"></div>


                </form>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="" class="fbtn btn-back hidden-sm hidden-xs"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                <a href="" id="proceed_payment" class="fbtn btn-next">Make payment <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <br>
                <a href=" " class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>
    </div>
</div>





