
@{
    ViewBag.Title = "LoginMessage";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    <p>Thank you for registering with MoneyFex Service-the fastest, secure and reliable money service, please check your registered email to active your account</p>
                    <p>The security team at MoneyFex Service will review your registration and contact you with in 24 hours to give you additional information that you will need to login to your account.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <a href="login-before.php" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</div>

