@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mt40 mb40 bg-white pinside40">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="post-holder">
                                        <div class="post-block mb40">
                                            <h1>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </h1>
                                            <div class="post-img mb30">
                                                <img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive" class="img-responsive">
                                            </div>
                                            <div class="bg-white">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
                                                <blockquote>
                                                    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                                                </blockquote>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
                                                <div class="sharethis-inline-share-buttons"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="post-related mb40">
                                        <!-- post related -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="post-related-title mb20">Related post</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb30 col-sm-6 col-xs-6">
                                                <div class="related-img mb20">
                                                    <a href="#"> <img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive" class="img-responsive"> </a>
                                                </div>
                                                <div class="post-related-content">
                                                    <h4 class="related-title mb10"><a href="#" class="title"> Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque </a></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="related-img mb20">
                                                    <a href="#"> <img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive" class="img-responsive"> </a>
                                                </div>
                                                <div class="post-related-content">
                                                    <h4 class="related-title mb10"><a href="#" class="title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="sidebar-area">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="bg-primary">
                                            <div class="widget widget-search">
                                                <h3 class="widget-title">Search Bar</h3>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                                <!-- /input-group -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="bg-primary">
                                            <div class="widget widget-category">
                                                <h3 class="widget-title">Categories</h3>
                                                <ul class="listnone bullet bullet-arrow-circle-right">
                                                    <li><a href="#"> Aenean commodo ligula eget dolor. </a></li>
                                                    <li><a href="#"> Aenean commodo ligula eget dolor. </a></li>
                                                    <li><a href="#"> Aenean commodo ligula eget dolor. </a></li>
                                                    <li><a href="#"> Aenean commodo ligula eget dolor. </a></li>
                                                    <li><a href="#"> Aenean commodo ligula eget dolor. </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="bg-primary">
                                            <div class="widget widget-recent-post">
                                                <h3 class="widget-title mb30">Recent post</h3>
                                                <ul class="listnone">
                                                    <li>
                                                        <div class="recent-block mb20">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-2 col-xs-5">
                                                                    <a href="#"> <img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive" class="img-responsive mb10"> </a>
                                                                </div>
                                                                <div class="col-md-8 col-sm-10 col-xs-7">
                                                                    <h4 class="recent-title mb10"><a href="#" class="title">Aenean commodo ligula eget dolor.  </a></h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="recent-block mb20">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-2 col-xs-5">
                                                                    <a href="#"> <img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive" class="img-responsive mb10"> </a>
                                                                </div>
                                                                <div class="col-md-8 col-sm-10 col-xs-7">
                                                                    <h4 class="recent-title mb10"><a href="#" class="title">Aenean commodo ligula eget dolor.  </a></h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="recent-block mb20">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-2 col-xs-5">
                                                                    <a href="#"> <img src="https://dummyimage.com/800x600/e6e6e6/00000" alt=" " class="img-responsive" class="img-responsive mb10"> </a>
                                                                </div>
                                                                <div class="col-md-8 col-sm-10 col-xs-7">
                                                                    <h4 class="recent-title mb10"><a href="#" class="title">Aenean commodo ligula eget dolor.  </a></h4>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

