
@{
    ViewBag.Title = "LoginMessage";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Login</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">

                    <p>
                        Thank you for registering with MoneyFex, the secure and simplest way to pay for services an<>d make money available to friends and families abroad.
                    </p>
                    <p>
                        The information required to login to your account has been sent to your registered email address.
                    </p>
                    <p>
                        The agent registration team will activate your account and contact you shortly!
                    </p>
                    <p>
                        Please contact customer service should you not hear from the team within the next 24 hours.
                    </p>


                </div>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <a href="@Url.Action("Login" , "AgentLogin")" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</div>

