<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add connectionString="Server=192.168.1.22;Database=MoneyFexDB;User ID=sa;Password=riddhasoft" name="FAXEREntities" providerName="System.Data.SqlClient" />-->
    <!--<add connectionString="Server=Shiwa-pc;Database=MoneyFexDB;User ID=sa;Password=riddhasoft" name="FAXEREntities" providerName="System.Data.SqlClient" />-->
    <add connectionString="Server=DESKTOP-HAJEQQL;Database=MoneyFexDB;User ID=sa;Password=riddhasoft" name="FAXEREntities" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="GmailHost" value="smtp.gmail.com" />
    <!--<add key="GmailUserName" value="moneyfaxer@gmail.com" />D:\Web Svn Projects\MoneyFex\trunk\FAXER.PORTAL\Web.config
    <add key="GmailPassword" value="moneyfax@123" />-->
    <add key="GmailUserName" value="customerservice@moneyfex.com" />
    <add key="GmailPassword" value="MFglog18" />
    <add key="GmailPort" value="587" />
    <add key="ApiVersion" value="0" />
    <add key="GmailSsl" value="True" />
    <add key="fromEmail" value="projects.cyberlink@gmail.com" />
    <add key="fromName" value="Faxer Admin" />
    <add key="emailSubject" value="Reset Password" />
    <add key="resetPasswordExpiryTime" value="1440" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="StripeApiKey" value="sk_test_bpWYhIvpk5UAufeg7lnrvuA3" />
    <!--<add key="StripeApiLiveKey" value="sk_live_9V1cwxQL142S9F4CuZ33nPNX" />-->
    <add key="StripeApiLiveKey" value="sk_test_bpWYhIvpk5UAufeg7lnrvuA3" />
    <add key="DemoUsername" value="Demo" />
    <add key="DemoPassword" value="Demo@123" />
    <add key="MoneyFexDemoUsername" value="Crystal" />
    <add key="MoneyFexDemoPassword" value="CrystalPass43" />
    <add key="SmsApiAccountToken" value="06292696b82c2c4b01d4424253efa8b9" />
    <add key="SmsApiAccountsid" value="ACf38f1fa489bbf2c521df42b491c3f314" />
    <add key="SmsApiServiceid" value="ISe5135c0a4f43c7290352ecfee2370436" />
    <add key="SecureTradingApiKey" value="test_moneyfexltd76662" />


    <!--
    Live Key
    <add key="SecureTradingApiKey" value="moneyfexltd76663" />
    -->

    <!-- Email Credentials-->
    <add key="CustomerSupport" value="customercare@moneyfex.com" />
    <add key="CustomerSupportPassword" value="MFcslog85%" />
    <add key="Rates" value="rates@moneyfex.com" />
    <add key="RatesPassword" value="MFcslog85%" />
    <add key="WelcomeCustomer" value="welcome@moneyfex.com" />
    <add key="WelcomeCustomerPassword" value="MFcslog85%" />
    <add key="TransactionCancelled" value="Cancelled@moneyfex.com" />
    <add key="TransactionCancelledPassword" value="MFcslog85%" />
    <add key="IDCheck" value="ID@moneyfex.com" />
    <add key="IDCheckPassword" value="MFcslog85%" />
    <add key="TransactionCompleted" value="complete@moneyfex.com" />
    <add key="TransactionCompletedPassword" value="MFcslog85%" />
    <add key="TransactionInProgress" value="progress@moneyfex.com" />
    <add key="TransactionInProgressPassword" value="MFcslog85%" />
    <add key="TransactionPending" value="pending@moneyfex.com" />
    <add key="TransactionPendingPassword" value="MFcslog85%" />


    <!-- End Email Credentials-->
    <add key="SecureTradingApiUserId" value="support@moneyfex.com" />
    <add key="SecureTradingApiPassword" value="MFsuplg4&amp;" />

    <add key="MTNApiUserId" value="88577f9b-e19c-495e-bee1-da9997fa665d" />
    <add key="MTNApiUserPassword" value="46e6f00b1d2b47dca49630fa78207351" />
    <add key="MTNApiSubscriptionKey" value="daee07935c5d4750a2bae57e2e2550de" />

    <!--<add key="MTNApiSubscriptionKey" value="ce6a18001f164a33825f3100491b749b" />-->

    <!--Live Key-->
    <!--<add key="VGNClientId" value="MONEYFEX_API1G9RXWU4OLVZ" />
    <add key="VGNClientSecret" value="3QBrGOs2Zru1jaqT" />
    <add key="VGNuserName" value="administrator@moneyfex.com" />
    <add key="VGNpassword" value="MFvgln19%" />-->
    <!--CashPot Key -->
    <add key="CashPotUser" value="moneyfex" />
    <add key="CashPotPASSWORD" value="money123" />
    <add key="CashPotPARTNER_ID" value="MONEYFEX" />


    <add key="VGNClientId" value="EMPIRE_2_API1ARSYDG1GOY3" />
    <add key="VGNClientSecret" value="W0zTu7UumG3fWorN" />
    <add key="VGNuserName" value="top.py061@gmail.com" />
    <add key="VGNpassword" value="Password1!" />

    <add key="VGNAccountLookUpUrl" value="http://jnfx.api.test.vggdev.com/api/Transactions/AccountLookUp" />
    <add key="VGNLoginUrl" value="http://jnfx.api.test.vggdev.com/api/account/GetUserToken" />
    <add key="VGNPostTransctionUrl" value="http://jnfx.api.test.vggdev.com/api/Transactions/PostTransactionLocal" />
    <add key="VGNTransactionConfirmationUrl" value="http://jnfx.api.test.vggdev.com/api/Transactions/Status" />

    <!--Live URL-->

    <!--<add key="VGNAccountLookUpUrl" value="https://api.jnfx-emarkets.com/api/Transactions/AccountLookUp" />
    <add key="VGNLoginUrl" value="https://api.jnfx-emarkets.com/api/Account" />
    <add key="VGNPostTransctionUrl" value="https://api.jnfx-emarkets.com/api/transactions/Posttransactionlocal" />
    <add key="VGNTransactionConfirmationUrl" value="https://api.jnfx-emarkets.com/api/Transactions/Status" />-->

    <!--Encrypt decrypt credential-->
    <add key="PasswordHash" value="P@@Sw0rd" />
    <add key="SaltKey" value="S@LT&amp;KEY" />
    <add key="VIKey" value="@1B2c3D4e5F6g7H8" />
    <!-- Transfer Zero Test key -->
    <add key="TransferZeroUrl" value="https://api-sandbox.transferzero.com/v1" />
    <add key="TransferZeroApiKey" value="H0IwflB19SlXy3oAj65r6Q3zAHvgJWVol+p06XqcxgXJoroa5DBdULMRduJ0D4iIYn8pWp+cq2WtvZp3/6n62Q==" />
    <add key="TransferZeroApiSecret" value="Haa6fKwe6oN3Y+V3TWpNrGty576MKHXvlDOdX21vJRCk9zAVa4a9cV1ED4C/N42dLXqxBv/Kfs0jzaCizONT7Q==" />
    <!-- Transfer Zero Live key -->
    <!--<add key="TransferZeroUrl" value="https://api.transferzero.com/v1" />
    <add key="TransferZeroApiKey" value="IammYSjfAkddiNFPN4gA9Mu+cZYSYBQjJwGkzIcvKulwHOvdv/cS6MKnA19yiHGD8K/ASm0iIuA5zcyn43nSpQ==" />
    <add key="TransferZeroApiSecret" value="5fuBhR64H+hoPk4MS7glNh6zKSvPHUmEhm6dI7uo/ROUAr+H6F36fgtzSpsvGhsI8oJNVwjY4yFRSw2P+D1hZg==" />-->

    <!-- Test Key-->
    <add key="EmergentApiCreateTransUrl" value="https://testsrv.interpayafrica.com/v7/CashoutRest.svc/CreateCashoutTrans" />
    <add key="EmergentApiMobileMoneyCustomerCheckUrl" value="https://testsrv.interpayafrica.com/v7/Interapi.svc/MMCustomerCheck" />
    <add key="EmergentApiGetTransactionStatusUrl" value="https://testsrv.interpayafrica.com/v7/CashoutRest.svc/GetTransStatus" />
    <add key="EmergentApiId" value="2452014221" />
    <add key="EmergentApikey" value="41030994" />
    <!--live key-->
    <!--<add key="EmergentApiCreateTransUrl" value="https://testsrv.interpayafrica.com/v7/CashoutRest.svc/CreateCashoutTrans"/>
    <add key="EmergentApiMobileMoneyCustomerCheckUrl" value="https://testsrv.interpayafrica.com/v7/Interapi.svc/MMCustomerCheck"/>
    <add key="EmergentApiGetTransactionStatusUrl" value="https://testsrv.interpayafrica.com/v7/CashoutRest.svc/GetTransStatus"/>
    <add key="EmergentApiId" value="7453014562"/>
    <add key="EmergentApikey" value="18328024"/>-->

    <!--Live Key-->
    <!--<add key="ZenithApiUrl" value="https://196.216.180.130/transferapi/" />
    <add key="ZenithApiUsername" value="MONEYFEX_ZBTFR" />
    <add key="ZenithApiPassword" value="4EFFBEBD-5883-4F78-B4EA-7B1DB2C86703" />
    <add key="ZenithApiFromAccount" value="6010123241" />-->

    <!--Test Key-->
    <add key="ZenithApiUrl" value="https://196.216.180.130/transferapi/" />
    <add key="ZenithApiUsername" value="MONEYFEX_ZBTFR" />
    <add key="ZenithApiPassword" value="4EFFBEBD-5883-4F78-B4EA-7B1DB2C86703" />
    <add key="ZenithApiFromAccount" value="6090111953" />
    <add key="Transact365URL" value="https://gateway.transact365.com/transactions/" />
    <add key="Transact365ShopId" value="14812" />
    <add key="Transact365Password" value="4a24170b6a3bd49114ab07a19e8124d361db7af2dc42c5b1344406a4f34fdf14" />
    <add key="Transact365TransactionMode" value="true" />
    <add key="TransactionLimitPerReceiver" value="3" />
    <add key="TotalTransactionLimit" value="5" />
    <add key="CookieLife" value="200" />
    <add key="TransactionLimit" value="1000" />
    <add key="DefaultReceivingCountryCode" value="NG" />
    <add key="DefaultReceivingCurrency" value="NGN" />
    <add key="FirebaseAppCredentialPath" value="F:\Web Svn Projects\2020-12-09 MoneyFex\trunk\FAXER.PORTAL\JS\" />
    <add key="FirebaseAppCredential" value="moneyfex-dce08-firebase-adminsdk-rd6xa-bfdb84661d.json" />

    <!-- Default Payment Gateway -->
    <add key="DefaultPaymentGateway" value="2" />

    <add key="AWS_EMAIL" value="customerservice@moneyfex.com" />
    <add key="AWS_HOST" value="email-smtp.eu-west-2.amazonaws.com" />
    <add key="AWS_PORT" value="587" />
    <add key="AWS_FROM_NAME" value="Moneyfex Customer Service" />
    <add key="AWS_USERNAME" value="AKIA3GJK5JAJESQXLTPJ" />
    <add key="AWS_BCC" value="sent.email@moneyfex.com" />
    <add key="AWS_PASSWORD" value="BFcKzzc6kgqfBCwoufJkOTlaFHyH9KK/km4JQThyKIMQ" />


  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/FaxerAccount/Login" name="myCookie" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="5096" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState timeout="5"></sessionState>
    <customErrors mode="Off" defaultRedirect="~/Error/">
      <error statusCode="404" redirect="~/Error/" />
      <error statusCode="302" redirect="~/Error/" />
      <error statusCode="405" redirect="~/Error/" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Cache-Control" value="no-cache, no-store" />
        <add name="X-XSS-Protection" value="1" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>

    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>