
@{
    ViewBag.Title = "GreatMessage";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Transfer Money Between Virtual Accounts</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    <h4> Great!!</h4>
                    <p>
                        You have successfully transfer money between your MoneyFex virtual accounts, the receiver can now use the virtual account to withdraw the money from one of our agents.
                    </p>
                    <a href="@Url.Action("Index","Dashboard")" class="fbtn btn-next btn-sm "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go to your Dashboard</a>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>

