
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">

                            <div class="col-lg-8 offset-lg-2">

                                <div class="card">

                                    <div class="card-header border-bottom">
                                        <h4 class="f-left f-left m-t-5 m-b-0">Select a Transfer Method</h4>

                                    </div>

                                    <div class="card-body">

                                        <div class=" dashboard_body ">

                                            <div class="mobile_design text-center row ">
                                                <!--  -->
                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                    <div class="dashboard_thumb">
                                                        <a href="/Admin/StaffKiiPayWallet">

                                                            <div class="das-icon">
                                                                <img src="~/Areas/Admin/Content/assets/images/svg/kiipay.svg">
                                                            </div>
                                                            <h4>Send Money<br> to a KiiPay Wallet</h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <!--  -->
                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                    <div class="dashboard_thumb">
                                                        <a href="/Admin/StaffOtherMobileWalletsTransfer">
                                                            <div class="das-icon">
                                                                <img src="~/Areas/Admin/Content/assets/images/svg/mobile-money.svg">
                                                            </div>
                                                            <h4>Other Mobile Wallets Transfer</h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <!--  -->
                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                    <div class="dashboard_thumb">
                                                        <a href="/Admin/StaffCashPickUpTransfer">
                                                            <div class="das-icon">
                                                                <img src="~/Areas/Admin/Content/assets/images/svg/cash-pickup.svg">
                                                            </div>
                                                            <h4>Cash Pickup </h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <!--  -->
                                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                                    <div class="dashboard_thumb">
                                                        <a href="/Admin/StaffBankAccountDeposit">
                                                            <div class="das-icon">
                                                                <img src="~/Areas/Admin/Content/assets/images/svg/bank.svg">
                                                            </div>
                                                            <h4>Bank Account Deposit</h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--  -->


                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
