
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/EmailTemplate/Views/Shared/New_Layout_Email.cshtml";
    var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
}
<table class="section" cellpadding="0" cellspacing="0">
    <tr>
        <td class="column ngeku-img" width="100" valign="top">
            <table>
                <tbody>
                    <tr>
                        <td align="left">
                            <img src="@baseUrl/Areas/EmailTemplate/images/ngeku.png">
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="column" width="20" valign="top">
            <table>
                <tbody>
                    <tr>
                        <td> &nbsp; </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td class="column" width="480" valign="top">
            <table>
                <tbody>

                    <tr>
                        <td>
                            <h1 style="font-size: 30px; color: #004468;  line-height:14px; margin: 20px 0;"> Hi @ViewBag.SenderFirstName, </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1 style="font-size: 28px; font-weight: bold; color: #02b6ff; display: block;  display: block; line-height: 35px;">
                                Money transferred to @ViewBag.ReceiverFullName has not been completed because  we need a proof of source of funds from you.

                            </h1>
                            <h1 style="font-size: 18px; color:#333; line-height: 30px; margin-top: 0px;">
                                Please reply to this email with the following documents to enable us complete this transaction:
                            </h1>
                            <ol type="1" style="font-size: 23px; font-weight: bold; color: #02b6ff; display: block;  display: block; margin:0; line-height: 40px;">
                                <li>Your most recent bank statement</li>
                                <li>Your Payslip or proof of sales or loan or donation or any other documents that matches the amount your transferring</li>
                                <li>Additional Identification Document</li>

                            </ol>


                            <h1 style="font-size: 20px; color:#333;  line-height: 30px; margin-top: 20px;">
                                We look forward to processing this transaction as soon as we receive the requested documents.
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1 style="font-size: 22px; color: #02b6ff;  line-height:30px; margin: 35px 0;">
                                Thank You<br>
                                <span style="display: block; color:#02b6ff;">The MoneyFex Team</span>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>