
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
}


<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Search MoneyFex Receiver Virtual Account</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">


                <div class="form-group">
                    <input type="text" name="" id="MFTCCardNumber" placeholder="Search MoneyFex Virtual Account  No" class="form-control" value="@ViewBag.MFTCCardNO">

                    @Html.ValidationMessage("InvalidCardNumber", null, new { @class ="text-danger"})

                    @if (TempData["InvalidCardNumber"] != null) {
                        <label class="text-danger">@TempData["InvalidCardNumber"]</label>
                    }
                </div>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">


                <a  class="fbtn btn-next" onclick="SearchMerchant()">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>



            </div>
        </div>
    </div>
</div>

<!--  -->
@section Scripts{
    
    <script type="text/javascript">
        function SearchMerchant() {
            var MFTCCardNumber = $("#MFTCCardNumber").val();
            window.location.href = "/CardUsers/MFTCCardPaymentbyCardUser/MFTCCardHoderDetials?MFTCCardNo=" + MFTCCardNumber;
        }
    </script>
    }