
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
}

<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Start Sending</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login_signup">

                    <h4>Does the Receiver have a MoneyFex Virtual Account ? </h4>
                    <a href="@Url.Action("Index","MFTCCardPaymentbyCardUser")" class="btn btn-success btn-sm">Yes</a>&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("PayingAmount","NonCardPaymentByCardUser")" class="btn btn-primary btn-sm">No</a>
                </div>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->