
@{
    ViewBag.Title = "AddAndWithdrawFromWallet";
    Layout = "~/Areas/KiiPayPersonal/Views/Shared/_Layout_KiiPayPersonal.cshtml";
}


<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <!--  -->
                <div class="dashboard_body">

                    <div class=" clearfix">
                        <h3>Add & Withdraw Money from Wallet</h3>


                        <div class="clearfix">

                        </div>
                        <hr>
                        <div class="mobile_design text-center">


                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("Index","AddMoneyToWallet")">

                                        <div class="das-icon">
                                            <img src="~/Areas/KiiPayPersonal/images/icon/svg/add-money-to-wallet.svg">
                                        </div>
                                        <h4> Add Money to Wallet</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("Index","WithdrawMoneyFromWallet")">

                                        <div class="das-icon">
                                            <img src="~/Areas/KiiPayPersonal/images/icon/svg/withdraw-money-from-wallet.svg">
                                        </div>
                                        <h4> Withdraw Money from Wallet</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("Index","PersonalKiiPayBankAccount")">

                                        <div class="das-icon">
                                            <img src="~/Areas/KiiPayPersonal/images/icon/svg/bank.svg">
                                        </div>
                                        <h4>Bank Account</h4>

                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="">
                                        <div class="das-icon">
                                            <img src="~/Areas/KiiPayPersonal/images/icon/sud.png">
                                        </div>
                                        <h4>Service Under Developement</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!-- back btn -->
                            <div class="clearfix">
                                <hr>
                                <center>
                                    <a href="@Url.Action("Index","Dashboard")" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                                </center>
                            </div>
                            <!-- back btn end-->
                        </div>
                    </div>

                </div>
                <!--  -->
                

            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
</section>






