
@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Email.cshtml";
}

<div style="padding:20px">
    <p>
        Dear @ViewBag.BusinessMerchantName
        ,
    </p>
    <p>
        Your MoneyFex business account has just been credited by @ViewBag.FaxerName
    </p>
    <p>
        You can view full details of this payment from your MoneyFex Business account dashboard.
    </p>
    <p>
        Please go to the nearest MoneyFex  agent with your identification document and your MoneyFex Business  E-Card - Electronic or Physical to withdraw the amount credited into your account.<br />
        Note: Check the agent business hour.
    </p>
    <br />
    
</div>
