
@{
    ViewBag.Title = "SenderAboutUs";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}
<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">About Us</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="bg-white">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="pinside20 mb80 mt20">
               <div class="col-md-8">

                        <div class="row">
                            <h1 class="page-new">About Us</h1>
                            <h3 class="text-primary">What is it that we do?</h3>

                            <p>MoneyFex is a money transfer company that specialises in post money transfer management and international payment services.</p>

                            <p>We are bringing innovation to money transfer service, gone are the days of filling long forms and sending money abroad without having control on when the money should be received by the beneficiary. The control has been given back to you with our innovative solutions as you can now create a digital wallet for your beneficiary who lives abroad, have control on how much you credit into the wallet, see how the wallet is used by the beneficiary, get notifications whenever the wallet is used.</p>

                            <p>Also, you can pay directly for services such as school fees, hospital and utility bills, accommodation and many others in your home country without the need for going through another person.</p>
                            <p>We want to make money transfer and international payment services fast, easy and cheap.</p>
                            <p>Our service is trusted and available in most African countries and is expanding to the Asian and South American continents.</p>
                            <h3 class="text-primary">Vision and mission </h3>
                            <p>To be the fastest, easiest and cheapest money transfer company in the world that offers a post money transfer management and payment services to its customers.</p>
                            <h3 class="text-primary">How it started
                        </h3>
                            <p>Whilst studying in London, MoneyFex founder, Dr Louis Anegekuh saw an opportunity to innovate money transfer and international payment services. As the founder of a UK based charity organisation that was doing work in some African countries, the need to send money abroad became paramount. This would often require regular money transfers online or traveling to a money transfer agent who would charge an extortionate premium for small transactions.</p>

                            <p>Although, Dr Anegekuh regularly transferred money abroad for projects, his absence from the continent to manage or control how the money transferred was spent by project managers, resulted in overspending and a lack of proper accountability. </p>
                            <p>He therefore embarked on a journey to try to create an improved money transfer service. </p>
                            <p>In addition to controlling withdrawal from a wallet, MoneyFex allows money sender to set standing order payment to ensure that money is always available when needed by the beneficiary.
                            </p>
                            <p>This journey involved designing and developing an online solutions that gives organisations like his and people sending money abroad, the ability to control or manage money transferred as remittances. This control is achieved through a virtual accounting wallet system that allows a money sender to register a digital wallet in the name of a potential beneficiary who lives abroad. This wallet can be credited online from abroad and control usage by the money sender (registrar). A wallet registered by a money sender comes with a user-friendly dashboard that is instantly accessible to beneficiary (i.e. wallet user) who in most cases will be living in the money sender’s home country.
                            </p>
                            <p>In addition to controlling withdrawal from a wallet, MoneyFex allows money sender to set standing order payments to ensure that money is always available when needed by the beneficiary.

                            </p>
                            <p>As the sender can determine how much is withdrawn from the wallet by the beneficiary, MoneyFex is helping to reduce overspending on projects and to an extent, giving some degree of accountability to the process of transferring money.
                            </p>
                            <p>Apart from this new service that we are bringing to market, we are also active in traditional money transfer services such as direct bank transfers, cash pickup and mobile money transfer. Our aim is to be the cheapest provider of these traditional services.
                            </p>
                            <p>Although Dr Anegekuh’s initial journey was to develop a money transfer accounting solutions for organisations such as his, he also saw the need to include an international payment service that allows money senders to directly pay for services such as hospital and utility bills, school fees and accommodation in their home country while abroad.
                            </p>
                        </div>

                    </div>
                <div class="col-lg-4">


                    <aside class="link-sidebar mb20">
                        <h3>How it Works</h3>
                        <ul class="related-link">
                            <li> <a href="@Url.Action("SenderHowToSendMoney","QuickLink")">How to send money</a></li>
                            @*<li> <a href="how-to-receive-a-fax.php">How to receive money</a></li>*@
                            <li> <a href="@Url.Action("SenderToPayForGoodsAndServices","QuickLink")">How to Pay for goods &amp; services</a></li>
                        </ul>

                    </aside>


                    <aside class="link-sidebar  ">

                        <h3>Quick Links</h3>
                        <ul class="related-link">
                            <li><a href="@Url.Action("SenderAboutUs","QuickLink")">About Us</a></li>
                            <li><a href="news.php">News</a></li>
                            <li><a href="career.php">Career</a></li>
                            <li><a href="contact.php">Contact Us</a></li>
                            <li><a href="faq.php">FAQ</a></li>
                            <li><a href="become-an-agent.php">Become an agent</a></li>
                            <li><a href="become-a-merchant.php">Become a Service Provider</a></li>
                            <li><a href="report-a-fraud.php">Report a Fraud </a></li>
                        </ul>
                    </aside>



                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>