
@{
    ViewBag.Title = "SenderCookiePolicy";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Cookie Policy</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <div class="row">
                        <h1 class="page-new">Cookie Policy</h1>
                        <p>
                            A cookie is a small text file that is downloaded onto ‘terminal equipment’ (e.g. a computer or smartphone) when the user accesses a website. It allows the website to recognise that user’s device and store some information about the user’s preferences or past actions.
                        </p>
                        <p>
                            This website uses cookies to improve users’ experience while visiting the website. Where applicable, this website uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of cookies on their computer / device. This complies with recent legislation requirements for websites to obtain explicit consent from users before leaving behind or reading files such as cookies on a user’s computer / device.
                        </p>
                        <p>
                            The cookies in use to deliver Google Analytics service are described in the table below.
                        </p>
                        <table class="table table-bordered" style="text-align: left;">
                            <thead>
                                <tr>
                                    <th>Cookie</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>__utma</p>
                                        <p>__utmb</p>
                                        <p>__utmc</p>
                                        <p>__utmv</p>
                                        <p>__utmz</p>
                                    </td>
                                    <td><p>Google Analytics</p></td>
                                    <td>
                                        <p>
                                            These cookies are used to store information, such as what time your current visit occurred, whether you have been to the site before, and what site referred you to the web page.
                                        </p>
                                        <p>
                                            These cookies contain no personally identifiable information but they will use your computer’s IP address to know from where in the world you are accessing the Internet.
                                        </p>
                                        <p>
                                            Google stores the information collected by these cookies on servers in the United States. Google may transfer this information to third-parties where required to do so by law, or where such third-parties process the information on Google’s behalf.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="text-theme">
                            Opt-out
                        </h4>
                        <p>
                            In order to provide website visitors with the choice on how data is collected by Google Analytics, Google has developed the Google Analytics Opt-out Browser Add-on. The add-on communicates with the Google Analytics JavaScript (ga.js) to stop data being sent to Google Analytics. The Google Analytics Opt-out Browser Add-on does not affect usage of the website in any other way. A link about Google Analytics Opt-out Browser Add-on is provided below for your convenience.
                        </p>
                        <p>
                            <a href="http://tools.google.com/dlpage/gaoptout?hl=None
                            ">
                                http://tools.google.com/dlpage/gaoptout?hl=None
                            </a>
                        </p>
                        <p>
                            For more information about the usage of cookies by Google Analytics,  please see the following Google website. Also, a link to the privacy advice for this product is provided below.
                        </p>
                        <p>
                            <a href="http://www.google.com/analytics/learn/privacy.html
                            ">
                                http://www.google.com/analytics/learn/privacy.html
                            </a>
                        </p>
                        <h4 class="text-theme">
                            Disabling Cookies
                        </h4>
                        <p>
                            If you would like to restrict the use of cookies, you can control this in your Internet browser using the following links.
                        </p>
                        <h4 class="text-theme">
                            Internet Explorer
                        </h4>
                        <p><a href=""></a></p>
                        <h4 class="text-theme"></h4>
                        <p>
                            <a href="http://windows.microsoft.com/en-GB/windows7/Block-enable-or-allow-cookies
                            ">
                                http://windows.microsoft.com/en-GB/windows7/Block-enable-or-allow-cookies
                            </a>
                        </p>
                        <h4 class="text-theme">
                            Google Chrome
                        </h4>
                        <p>
                            <a href="https://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647&p=cpn_cookies
                            ">
                                https://support.google.com/chrome/bin/answer.py?hl=en-GB&answer=95647&p=cpn_cookies
                            </a>
                        </p>
                        <h4 class="text-theme">
                            Mozilla Firefox
                        </h4>
                        <p>
                            <a href="http://support.mozilla.org/en-US/kb/Blocking%20cookies
                            ">
                                http://support.mozilla.org/en-US/kb/Blocking%20cookies
                            </a>
                        </p>
                        <h4 class="text-theme">
                            Apple Safari
                        </h4>
                        <p>
                            <a href="http://docs.info.apple.com/article.html?artnum=32467
                            ">
                                http://docs.info.apple.com/article.html?artnum=32467
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
