
@{
    ViewBag.Title = "SenderPrivacyPolicy";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active"> Privacy Policy</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <div class="row">
                        <h1 class="page-new"> Privacy Policy</h1>
                        <h3>Our Privacy Commitment</h3>
                        <p>MoneyFex Ltd is committed to respecting and protecting your privacy. We value your trust and want you to understand how we collect, use, protect, disclose and otherwise process information about you.</p>
                        <p>This privacy statement applies to personal information we collect about you, for example when you visit our websites or mobile applications or contact MoneyFex call centre, or when a receiver completes a receiver’s form at our paying agent. We want to ensure you are aware of our practices for collecting, using, protecting disclosing, and otherwise processing personal information, which is information about a person that can be used to identify that person.</p>
                        <h3>Collection and Use of Personal Information</h3>
                        <p><b>We collect the following personal information from you</b></p>
                        <ul>
                            <li>Contact information such as name, date of Birth, title, email address, mailing address, phone number</li>
                            <li>
                                Evidence of your identity (for example passport information)
                            </li>
                            <li>
                                Information about your social media profiles made available to us from your interactions with us on social media sites such as Facebook or Twitter
                            </li>
                            <li>Unique Identifiers such as user name, account number, password</li>
                            <li>Billing information such as a credit card number and billing address</li>
                            <li>
                                Date of birth
                            </li>
                            <li>
                                Demographic information such as age, education, gender, interests and zip code
                            </li>

                        </ul>
                        <p><b>We use this information to:</b></p>
                        <ul>
                            <li>Register you with an account</li>
                            <li>Provide the Services as described in our <a href="terms-and-conditions.php">terms and conditions</a></li>
                            <li>
                                Fulfill your transfer / Deposit /payment Request
                            </li>
                            <li>
                                Send you a confirmation
                            </li>
                            <li>
                                Improve your online experience and our website/ service
                            </li>
                            <li>
                                Comply with our legal and regulatory obligations
                            </li>

                        </ul>
                        <p>
                            We also maintain records of your transfer service and card and bank details where appropriate.
                        </p>
                        <h3>Choice/Opt-Out</h3>
                        <p>You may choose to stop receiving our newsletter or marketing emails by following the unsubscribe instructions included in these emails or you can contact us. </p>
                        <p>
                            We will also send you service related email announcements on rare occasions when it is necessary to do so. For example, when MoneyFex money transfer platform is temporarily suspended for maintenance, we might send you an email. You do not have an option to opt out of these emails, which are not promotional in nature.
                        </p>
                        <h3>
                            Information Obtained about a Third Party
                        </h3>
                        <p>
                            You may provide us with personal information about others, such as Receivers’ or Virtual account users’’ name and photos, address, phone number, bank account details or email address. If so, you confirm that you have appropriate authority to do so and to allow us to use that information and we will only use it for the specific reason for which it was provided to us.
                        </p>
                        <p>
                            If you believe that one of your contacts has provided us with your personal information and you would like to request that it be removed from our database, please <a href="contact.php">contact us.</a>
                        </p>
                        <h3>
                            Information Sharing
                        </h3>
                        <p>
                            We will share your personal information with third parties only in the ways that are described in this privacy policy or the <a href="terms-and-conditions.php">terms and conditions</a>, such as credit reference agencies to verify your identity or Receivers of the money transferred through MoneyFex. We may share your information with certain third parties who we believe may be of interest to you where we have your consent to do so.
                        </p>
                        <p>
                            We may provide your personal information to companies that provide services to help us with our business activities or offering customer service such as local banks or money exchange houses or IT or digital marketing providers. These companies are authorised to use your personal information only as necessary to provide these services. If you have any concern about this, please <a href="contact.php">contact us.</a>
                        </p>
                        <p><b>We may also disclose your personal information;</b></p>
                        <ul>
                            <li>
                                in response to lawful requests by public authorities, including to meet national security or law enforcement requirements
                            </li>
                            <li>as required by law such as to comply with a court order, subpoena, or similar legal process,</li>
                            <li>
                                when we believe in good faith that disclosure is necessary to protect our rights, fulfill our legal or compliance obligations, protect your safety or the safety of others, investigate fraud, or respond to a governmental or regulatory request,
                            </li>
                            <li>if MoneyFex Ltd is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our website of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information,</li>
                            <li>
                                to any other third party with your prior consent to do so.
                            </li>
                        </ul>
                        <p>We may transfer your personal information overseas and to jurisdictions which may offer a level of legal protection to your information which does not meet European legal standards. In such cases, we take steps to protect your information and only make such transfers in compliance with the Data Protection Act 1998.</p>
                        <p>The personal information we have collected from you may be shared with fraud prevention agencies who may use it to prevent fraud and money-laundering and to verify your identity. Those who commit fraud can be refused services, finance or employment. Further details of how your information will be used by us and these fraud prevention agencies, and your data protection rights, can be found by contacting us at <a href="mailto:fraud@MoneyFex.com">fraud@MoneyFex.com.</a></p>
                        <h3>Cookies and Other Tracking Technologies</h3>
                        <p>
                            Technologies such as: cookies, beacons, tags, scripts or similar technologies are used by MoneyFex Ltd and our marketing partners, affiliates, or analytics or service providers. These technologies are used in analysing trends, administering the website, tracking users’ movements around the website and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.
                        </p>
                        <p>
                            We use cookies to remember users’ settings, for authentication and for enhanced user experience. Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our website, but your ability to use some features or areas of our website may be limited. Please click on <a href="cookie-policy.php">Cookies Policy</a> for further details.
                        </p>
                        <h3>
                            Log Files
                        </h3>
                        <p>
                            As is true of most web sites, we gather certain information automatically and store it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data. We may combine this automatically collected log information with other information we collect about you. We do this to improve services we offer you and site functionality.
                        </p>
                        <h3>
                            Mobile Application
                        </h3>
                        <p>
                            When you download and use our Mobile application, we automatically collect information on the type of device you use, operating system version, and system and performance information.
                        </p>
                        <p>
                            We send you push notifications from time-to-time in order to update you about any events or promotions that we may be running. If you no longer wish to receive these types of communications, you may turn them off at the device level. To ensure you receive proper notifications, we will need to collect certain information about your device such as operating system and user identification information.
                        </p>
                        <p>
                            We collect your location-based information for the purpose of [locating a place that you may be searching for in your area]. We will only share this information with our mapping provider for the sole purpose of providing you this service.
                        </p>
                        <p>
                            We may share your geo-location data with third parties for the purpose of them serving you ads for places (such as educational establishments, hospitals, hotels, shopping malls etc.) in your area. If you do not wish to allow us to share your information in this manner, you can opt-out by contacting our customer service team at <a href="mailto:CustomerService@MoneyFex.com">CustomerService@MoneyFex.com</a>.
                        </p>
                        <p>
                            You may also opt-out of location-based services at any time by editing the setting at the device level.
                        </p>
                        <p>
                            We use mobile analytics software to allow us to better understand the functionality of our Mobile Software on your phone. This software may record information such as how often you use the application, the events that occur within the application, aggregated usage, performance data, and where the application was downloaded from. We do not link the information we store within the analytics software to any personally identifiable information you submit within the mobile application.
                        </p>
                        <h3>
                            Links to Other Web Sites
                        </h3>
                        <p>Our Website includes links to other Web sites whose privacy practices may differ from those of MoneyFex Ltd. If you submit personal information to any of those sites, your information is governed by their privacy policies. We encourage you to carefully read the privacy policy of any Web site you visit.</p>
                        <h3>Security</h3>
                        <p>
                            The security of your personal information is important to us. When you enter certain information such as a credit card number on our order forms, we encrypt the transmission of that information using reasonable security measures. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, therefore we cannot guarantee its absolute security. If you have any questions about security on our website, you can contact us.
                        </p>
                        <h3>Social Media Widgets</h3>
                        <p>
                            Our website includes Social Media Widgets or Features, such as the Facebook Like button and Twitter button which are interactive mini-programs that run on our site to provide specific services from another company (e.g. displaying the news, opinions, music, etc). Personal information, such as your email address, may be collected through the Widget. Cookies may also be set by the Widget to enable it to function properly. Information collected by this Widget is governed by the privacy policy of the company that created it.
                        </p>
                        <h3>
                            Correcting and Updating Your Personal Information
                        </h3>
                        <p>
                            Upon request, MoneyFex will provide you with information about whether we hold any of your personal information. You may request to review, delete or update your personal information to ensure it is accurate, by contacting us at <a href="mailto:customerservice@MoneyFex.com">customerservice@MoneyFex.com</a>. We aim to respond to your request for access within 30 days.
                        </p>
                        <p>
                            We will retain your information for as long as your account is active or as needed to provide you services, including a record of your money transfers and payments on our website. If you wish to cancel your account or request that we no longer use your information to provide you with our services, please contact us at <a href="mailto:customerservice@MoneyFex.com">customerservice@MoneyFex.com</a>. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements and will securely delete your information when we no longer have a need to retain it.
                        </p>
                        <h3>
                            Notification of Privacy Policy Changes
                        </h3>
                        <p>
                            We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this website or via a link from your mobile application prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>