
@{
    ViewBag.Title = "SenderFindLocation";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}
<div class="page-header" style="background:  url(/content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Find a Location</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-new">Find a Location</h1>
                        </div>
                        <div class="col-lg-3">

                            <div class="pinside20 bg-white">
                                <!--  -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Country</option>
                                    </select>
                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select City</option>
                                    </select>
                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Service Type </option>
                                        <option>Paying Agent</option>
                                        <option>Business</option>

                                    </select>
                                </div>
                                <!--  -->
                                <div class="form-group text-center mt20 mb20 text-primary">

                                    <b>OR</b>

                                </div>
                                <!--  -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Postcode/Zip Code">

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                                <!--  -->
                            </div>
                        </div>
                        <div class="col-lg-9">

                            <div class="row">
                                <div class="mb10">
                                    <div class="col-lg-7">



                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item text-primary "> Nepal </li>
                                                <li class="breadcrumb-item text-primary "> Kathmandu </li>
                                                <li class="breadcrumb-item  text-primary ">Business</li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class=" ">
                                            <div class="input-group stylish-input-group">
                                                <input type="text" class="form-control" placeholder="Search Name / Business Type" autocomplete="off">
                                                <span class="input-group-addon">
                                                    <button type="submit" class="">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">

                                </div>
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <!--  -->
                                <div class="col-lg-4">
                                    <div class="cardbody mb20">

                                        <h3 class="text-primary  ">Cyberlink Pvt. Ltd.</h3>
                                        <p style="margin-bottom: 5px;"><b>Business Type:</b> <span class="text-primary">Education</span></p>
                                        <i class="fa fa-map-mark"></i> Kathmandu, Nepal
                                        <br>
                                        <i class="fa fa-phone"></i>  +977-01-9587454<br>
                                        <i class="fa fa-envelope"></i>  <a href="mailto:info@cyberlink.com.np">info@cyberlink.com.np</a><br>
                                        <i class="fa fa-globe"></i> <a href="https://www.cyberlink.com.np"> www.cyberlink.com.np</a>
                                    </div>

                                </div>
                                <!--  -->
                                <center>
                                    <button type="" class="btn btn-primary radius-20"> View All</button>
                                </center>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
