
@{
    ViewBag.Title = "SenderReportAFraud";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}



<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">

                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Report a Fraud</li>
                </ol>

            </div>
        </div>
    </div>
</div>



<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <div class="row">

                        <div class="text-center">
                            <h1 class="page-new_report">Report a Fraud</h1>

                            <h3>See it, feel it, report it</h3>
                            <p>
                                Our priority is to keep you safe from fraudsters while using our platform
                            </p>

                            <h4>
                                Click <a href="@Url.Action("SenderContact")">here </a>to contact us immediately
                            </h4>
                            <h3>Email: <a href="mailto:fraudalert@moneyfex.com"> fraudalert@moneyfex.com</a> </h3>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>