
@{
    ViewBag.Title = "SenderToPayForGoodsAndServices";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}


<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">How to Pay for Goods and Services</li>
                </ol>

            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="bg-white">

    <div class="section-space40   ">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">


                    <div class="mb100    ">
                        <h2 class="hiw-titlw"> How to Pay for Goods and Services</h2>
                        <!-- section title start-->


                    </div>
                    <!-- /.section title start-->
                </div>


            </div>
            <div class="row  ">


                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0 ">
                    <div class="pinside20 number-block">
                        <div class="circle"><span class="number">A</span></div>
                        <h4 class="text-secondary">You Enter Mobile Number of a Business</h4>
                        <p class="hidden-sm hidden-xs">
                            Payer confirms the name and mobile number of business to be paid
                        </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  ">
                    <div class="pinside20 number-block ">
                        <div class="circle"><span class="number">B</span></div>
                        <h4 class="text-secondary">You Enter Amount</h4>
                        <p class="hidden-sm hidden-xs">
                            Payer enters amount and payment reference
                        </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block ">
                        <div class="circle"><span class="number">C</span></div>
                        <h4 class="text-secondary"> You Make Payment Online   </h4>
                        <p class="hidden-sm hidden-xs">
                            Payer pays money into business electronic wallet account online using credit/debit card or direct bank payment
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block  ">
                        <div class="circle-last"><img src="/Content/images/icon/svg/bank.svg" alt="" style="width:65px;height:65px;"> </div>
                        <h4 class="text-secondary">Business Collects Money from Abroad Anytime</h4>
                        <p class="hidden-sm hidden-xs">
                            Business withdraws money from their electronic wallet through a MoneyFex paying agent
                        </p>
                    </div>
                </div>

            </div>

            <!--  -->
            <div class="row">
                <div class="col-lg-12 text-left">
                    <hr>
                    <h4 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">
                        Anti-money laundering compliance
                    </h4>
                    <hr>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <p>To comply with anti-money laundering regulations, MoneyFex will require a copy of your photo ID (driving Licence and passport are the only acceptable forms of ID) and a utility bill to proof your Identity and address respectively. Additionally, for transactions of £5,000 and over, MoneyFex will require evidence of the source of funds in the form of payslip or bank statement.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>


</div>
<!--  -->