
@{
    ViewBag.Title = "SenderHowToSendMoney";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}



@*<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="index.php">Home</a></li>
                    <li class="active">How to Send Money</li>
                </ol>

            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="bg-white">
    <!--  -->
    <div class="section-space40   ">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">


                    <div class="mb100 pt30   ">
                        <h2 class="hiw-titlw"> How to Send money</h2>
                        <!-- section title start-->
                        <h3 class="title-hiw"><span>1</span> Send Money Using a <a class="primary-color"> KiiPay Wallet  </a></h3>

                    </div>
                    <!-- /.section title start-->
                </div>


            </div>
            <div class="row  ">
                <!--  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0 ">
                    <div class="pinside20 number-block">
                        <div class="circle"><span class="number">A</span></div>
                        <h4 class="text-secondary">You Register a KiiPay Wallet</h4>
                        <p class="hidden-sm hidden-xs">
                            Money sender registers  a KiiPay Wallet for a receiver living abroad
                        </p>

                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  ">
                    <div class="pinside20 number-block ">
                        <div class="circle"><span class="number">B</span></div>
                        <h4 class="text-secondary">We Instantly Share Information with Receiver</h4>
                        <p class="hidden-sm hidden-xs">
                            Registration information is instantly shared with money sender and receiver
                        </p>

                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block ">
                        <div class="circle"><span class="number">C</span></div>
                        <h4 class="text-secondary">You Deposit Money Anytime Online or Agent into the Wallet</h4>
                        <p class="hidden-sm hidden-xs">
                            Sender deposits money into Wallet online using credit/debit card or direct bank payment
                        </p>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block  ">
                        <div class="circle-last"><img src="/Content/images/ngeku.png" alt=""></div>

                        <h4 class="text-secondary">Receiver Withdraws Money from Abroad Anytime</h4>
                        <p class="hidden-sm hidden-xs">
                            Receiver withdraws predefined amount from a paying agent and also pay for services locally and abroad
                        </p>
                    </div>
                </div>
                <!--  -->


            </div>

        </div>
    </div>
    <!--  -->
    <!--  -->
    <hr>
    <div class=" section-space40  ">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="mb100  section-title">
                        <!-- section title start-->
                        <h3 class="title-hiw"><span>2</span> Send Money Using <a class="primary-color">  Other Mobile Wallets Transfer</a></h3>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row  ">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block  ">
                        <div class="circle"><span class="number">A</span></div>
                        <h4 class="text-secondary"> You Select Country & Amount to Send</h4>
                        <p class="hidden-sm hidden-xs">
                            Money sender chooses the receiver home country and amount to be transferred
                        </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block   ">
                        <div class="circle"><span class="number">B</span></div>
                        <h4 class="text-secondary"> You Enter Receiver's Wallet Number</h4>
                        <p class="hidden-sm hidden-xs">Receiver's wallet details </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block  ">
                        <div class="circle"><span class="number">C</span></div>
                        <h4 class="text-secondary">You Pay for Transfer Online  </h4>
                        <p class="hidden-sm hidden-xs">Sender pays transfer amount online using credit/debit card or direct bank payment</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block    ">
                        <div class="circle-last"><img src="~/Content/images/ngeku.png" alt=""></div>
                        <h4 class="text-secondary"> Mobile Wallet Instantly Credited  </h4>
                        <p class="hidden-sm hidden-xs">
                            Receiver withdraws money from their mobile wallet locally
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--  -->
    <!--  -->
    <hr>
    <div class=" section-space40  ">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="mb100  section-title">
                        <!-- section title start-->
                        <h3 class="title-hiw"><span>3</span> Send Money Using <a class="primary-color"> Bank Account Deposit</a></h3>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row  ">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block  ">
                        <div class="circle"><span class="number">A</span></div>
                        <h4 class="text-secondary"> You Select Country & Amount to Send</h4>
                        <p class="hidden-sm hidden-xs">
                            Money sender chooses the receiver home country and amount to be transferred
                        </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block   ">
                        <div class="circle"><span class="number">B</span></div>
                        <h4 class="text-secondary"> You Enter Receiver's Bank Account Details</h4>
                        <p class="hidden-sm hidden-xs">Receiver's bank account Details </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block  ">
                        <div class="circle"><span class="number">C</span></div>
                        <h4 class="text-secondary">You Pay for Transfer Online  </h4>
                        <p class="hidden-sm hidden-xs">Sender pays transfer amount online using credit/debit card or direct bank payment</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block    ">
                        <div class="circle-last"><img src="~/Content/images/ngeku.png" alt=""></div>
                        <h4 class="text-secondary"> Bank Account Credited  </h4>
                        <p class="hidden-sm hidden-xs">
                            Receiver withdraws money from their bank account locally
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--  -->



    <hr>
    <div class=" section-space40  ">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="mb100  section-title">
                        <!-- section title start-->
                        <h3 class="title-hiw"><span>4</span> Send Money Using <a class="primary-color">  Cash Pickup</a></h3>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
            <div class="row  ">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block  ">
                        <div class="circle"><span class="number">A</span></div>
                        <h4 class="text-secondary"> You Select Country & Amount to be Sent</h4>
                        <p class="hidden-sm hidden-xs">
                            Money sender chooses the receiver home country and amount to be transferred
                        </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block   ">
                        <div class="circle"><span class="number">B</span></div>
                        <h4 class="text-secondary"> You Enter Details of Receiver</h4>
                        <p class="hidden-sm hidden-xs">Receiver’s details </p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                    <div class="pinside20 number-block  ">
                        <div class="circle"><span class="number">C</span></div>
                        <h4 class="text-secondary">You Pay for Transfer Online</h4>
                        <p class="hidden-sm hidden-xs">Sender pays transfer amount online using credit/debit card or direct bank payment</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                    <div class="pinside20 number-block    ">
                        <div class="circle-last"><img src="~/Content/images/ngeku.png" alt=""></div>
                        <h4 class="text-secondary"> Receiver Pick up Cash from Agent Abroad  </h4>
                        <p class="hidden-sm hidden-xs">
                            Receiver collects money from a paying agent in their country of residence
                        </p>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class="row">
                <div class="col-lg-12 text-left">
                    <hr>
                    <h4 data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="cursor: pointer;">
                        Anti-money laundering compliance
                    </h4>
                    <hr>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <p>To comply with anti-money laundering regulations, MoneyFex will require a copy of your photo ID (driving Licence and passport are the only acceptable forms of ID) and a utility bill to proof your Identity and address respectively. Additionally, for transactions of £5,000 and over, MoneyFex will require evidence of the source of funds in the form of payslip or bank statement.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!--  -->*@

<div class="page-header" style="background:  url(/Content/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index" ,  "Home")">Home</a></li>
                    <li class="active">How to Send Money</li>
                </ol>

            </div>
        </div>
    </div>
</div>





<!--  -->

<div class=" section-space40  ">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="mb100  section-title">
                    <!-- section title start-->
                    <h3 class="title-hiw"><span>1</span> Send Money Using <a class="primary-color"> Bank Account Deposit</a></h3>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row  ">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                <div class="pinside20 number-block  ">
                    <div class="circle"><span class="number">A</span></div>
                    <h4 class="text-secondary"> You Select Country & Amount to Send</h4>
                    <p class="hidden-sm hidden-xs">
                        Money sender chooses the receiver home country and amount to be transferred
                    </p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="pinside20 number-block   ">
                    <div class="circle"><span class="number">B</span></div>
                    <h4 class="text-secondary"> You Enter Receiver's Bank Account Details</h4>
                    <p class="hidden-sm hidden-xs">Receiver's bank account Details </p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="pinside20 number-block  ">
                    <div class="circle"><span class="number">C</span></div>
                    <h4 class="text-secondary">You Pay for Transfer Online  </h4>
                    <p class="hidden-sm hidden-xs">Sender pays transfer amount online using credit/debit card or direct bank payment</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                <div class="pinside20 number-block    ">
                    <div class="circle-last"><img src="~/Content/images/ngeku.png" alt=""></div>
                    <h4 class="text-secondary"> Bank Account Credited  </h4>
                    <p class="hidden-sm hidden-xs">
                        Receiver withdraws money from their bank account locally
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--  -->



<hr>
<div class=" section-space40  ">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="mb100  section-title">
                    <!-- section title start-->
                    <h3 class="title-hiw"><span>2</span> Send Money Using <a class="primary-color">  Other Mobile Wallets Transfer</a></h3>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row  ">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                <div class="pinside20 number-block  ">
                    <div class="circle"><span class="number">A</span></div>
                    <h4 class="text-secondary"> You Select Country & Amount to Send</h4>
                    <p class="hidden-sm hidden-xs">
                        Money sender chooses the receiver home country and amount to be transferred
                    </p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="pinside20 number-block   ">
                    <div class="circle"><span class="number">B</span></div>
                    <h4 class="text-secondary"> You Enter Receiver's Wallet Number</h4>
                    <p class="hidden-sm hidden-xs">Receiver's wallet details </p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="pinside20 number-block  ">
                    <div class="circle"><span class="number">C</span></div>
                    <h4 class="text-secondary">You Pay for Transfer Online  </h4>
                    <p class="hidden-sm hidden-xs">Sender pays transfer amount online using credit/debit card or direct bank payment</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-lg-offset-0">
                <div class="pinside20 number-block    ">
                    <div class="circle-last"><img src="~/Content/images/ngeku.png" alt=""></div>
                    <h4 class="text-secondary"> Mobile Wallet Instantly Credited  </h4>
                    <p class="hidden-sm hidden-xs">
                        Receiver withdraws money from their mobile wallet locally
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--  -->
<!--  -->