
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!--  -->
<div class="real_form pattern2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup  ">
                    <center>
                        <a href="@Url.Action("EstimateLogin")" class="btn btn-primary block_btn_mobile">Login</a>
                        <a href="signup.php" class="btn btn-success block_btn_mobile">Sign Up</a>
                    </center> <hr>
                    <p> <strong> You will need the following information to Sign Up for an account with MoneyFex Service:</strong></p>
                    <p>
                        Full name, date of birth, username (preferably email address), password, identification document information and contact details.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->
