

@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/New_Layout_Email.cshtml";
}


<div style="padding:20px">
    <p>
        Dear @ViewBag.SenderName,
    </p>
    <p>
        Your Password on MoneyFex has been updated, if this update was done by you, then you do not have to do anything.
    </p>
    <p>
        However, if this update was not made by you, please contact MoneyFex Support Team immediately.
    </p>
    
</div>
