@model FAXER.PORTAL.Models.SignUp.SenderKiiPayWalletEnableVM
@{
    ViewBag.Title = "kiipayWallet";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <!--  -->
    <div class="real_form pattern2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login_signup text-center">
                        <div class="text-center">
                            <h3>KiiPay Wallet</h3>
                        </div>
                        <hr>
                        <form>
                            <div class="pinside20">

                                <div class="boardered-blue pinside20">
                                    <!--  -->
                                    <div class="form-group text-left">
                                        <h4>Do you want to enable a KiiPay Wallet on this account?  </h4>
                                        @*<label> <input type="checkbox" name="   "> Yes</label>
                                            <label> <input type="checkbox" name="yesno"> No</label>*@

                                        <label> @Html.RadioButtonFor(model => model.EnableKiiPayWallet, true) Yes</label>
                                        <label> @Html.RadioButtonFor(model => model.EnableKiiPayWallet, false) No</label>
                                    </div>
                                    <!--  -->



                                </div>

                                <!--  -->
                                <div class="form-group text-right mt10">
                                    What is it  <a href="avoide:javascript;" data-placement="bottom" data-toggle="popover" data-content="The KiiPay Wallet allows you to pay for local services, add money to your account and also transfer money locally">
                                        <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                                    </a>
                                </div>



                            </div>
                            <div class="clearfix">
                                <hr>
                            </div>
                            <!--  -->

                            <div class="col-lg-12 mb20 ">
                                <button type="submit" class="btn btn-primary radius-20" >Finish Account Setup <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                            <!--  -->

                            <div class="clearfix">

                            </div>
                        </form>

                    </div>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--  -->
}
@section Scripts
    {

    <script type="text/javascript">

        function Confirm() {


        }
    </script>
    }

