
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>How it works</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <b>Sending money with MoneyFex Service is simply the easiest way <br></b>
                <p>Making money is hard work on its own, why should it also be hard work to send this same money to love ones or business partners around the world? MoneyFex Service (MFS) answers this question by developing a user-friendly system that is stress-free and to an extend automated.</p>
                <p><b>The system is as simple as ABC:</b></p>
                <ol type="A">
                    <li>
                        The Sender uses his/her details together with those of a potential beneficiary(receiver) to register a MoneyFex Top-up card (MFTC). <br>
                        <b> Note:</b> Only three MFTC can be registered by a Sender
                    </li>

                    <li>MoneyFex Service instantly sends registration confirmation code to both Sender and receiver (SMS and Email) and also produces a MoneyFex Card which is subsequently sent through secure courier service to the receiver abroad.</li>

                    <li>
                        The Sender Top-Up the MFTC online upon registration using either Credit/Debit card or direct bank-to-bank payment. The top-up information is instantly shared to all agents who are able to pay the receiver. <br>

                        <b> Note:</b> While waiting to receive the MFTC from MoneyFex Service, the receiver is still able to collect money from a paying agent with the temporal SMS/Email and his/her identification documents.
                    </li>
                </ol>
                <p>MoneyFex  Top-up Card offers “ABC” benefits to you as a Sender:</p>
                <ol type="A">
                    <li>Set up “automatic top-up” to ensure that money is always available when needed by receivers.</li>
                    <li>Limit how much can be collected/withdrawn from the MoneyFex Card by the receiver.</li>
                    <li>Transfer money between MoneyFex Card registered in the same country.</li>
                </ol>

            </div>

        </div>
    </div>
    <div class="section-space40   ">
        <div class="container">
            <div class="row">
                <div class="mb100  section-title">
                    <!-- section title start-->
                    <h2>Method 1 - <a class="primary-color">Sending Money as a Top-Up</a></h2>
                </div>
                <!-- /.section title start-->
            </div>
            <div class="row  ">
                <div class="col-md-3 col-sm-3 col-xs-12  ">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">A</span></div>
                        <p>Use the sender's and receiver's details to register a MoneyFex Top-up card</p><p></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12  ">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">B</span></div>
                        <p>The registered card information is instantly sent by MoneyFex Service to the Receiver abroad</p><p></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">C</span></div>
                        <p>The sender top-up the card anytime anywhere online using either Credit/Debit card or bank-to-bank payment</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <p>Money is available for withdrawal at MoneyFex Service Agent Abroad</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <p>If you choose to Send money instantly without registering a MoneyFex Top-up Card, you are also covered as it is also as simple as ABC!</p>
                <ol type="A">
                    <li>Choose the receiver’s country and amount to be sent</li>
                    <li>Add the Sender and Receiver’s details.</li>
                    <li>Make online payment using Credit/Debit Card or Bank-to-Bank payment and the money will instantly be available for the receiver to collect.</li>
                </ol>

                <p>With INSTANT SENDING, the sender can easily do the following:</p>

                <ol type="A">
                    <li>Access the history of Money sent.</li>
                    <li>Use the sending history to Send money to the same receivers.</li>
                    <li>Track or cancel a Send for a refund of the amount sent(if not collected).</li>
                </ol>

            </div>
        </div>
    </div>
    <div class=" section-space40  ">
        <div class="container">
            <div class="row">
                <div class="mb100  section-title">
                    <!-- section title start-->
                    <h2>Method 2 - <a class="primary-color">Instant sending</a></h2>
                </div>
                <!-- /.section title start-->
            </div>
            <div class="row  ">
                <div class="col-md-3 col-sm-3 col-xs-12  ">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">A</span></div>
                        <p>Choose the receive's country and amount to be sent</p><p></p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12  ">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">B</span></div>
                        <p>Add the Sender and Receiver's Details</p><p></p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <div class="circle"><span class="number">C</span></div>
                        <p>Make online Payment</p><p></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="bg-white pinside20 number-block outline mb60 bg-boxshadow">
                        <p>Money is available for withdrawal at MoneyFex Service Agent Abroad</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p><b>Anti- money laundering compliance:</b></p>
                <p><i>To comply with anti-money laundering regulations, MoneyFex Service will require a copy of your photo ID (driving license and passport are the only acceptable forms of ID) and a utility bill to proof your identity and address respectively. Additionally, for transactions of £5,000 and over, MoneyFax Service will require evidence of the source of funds in the form of payslip or bank statement.  </i></p>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
