
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<div class="page-header" style="background:  url(images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">
                <ol class="breadcrumb ">
                    <li> <a href="index.php">Home</a></li>
                    <li class="active">Current Vacancies</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class=" ">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="  mb80 mt20">
                    <h1 class="page-new">Current Vacancies</h1>
                    <div class="contact-form mb60">
                        <div class=" ">
                            <div class="row">
                                <div class="col-lg-12 pdl20">
                                    <div class="mb60  section-title text-left  col-lg-12">
                                        <!-- section title start-->

                                        <h4>Opportunities are broad and veried MoneyFex Service, if you want to be challenged, devloped and fascinated in a career to be proud of, then the opportunity is now !</h4>
                                    </div>
                                    <table class="table table-bordered">
                                        <thead class="thead-default">
                                            <tr>
                                                <th>Job Title & Description</th>
                                                <th>Location</th>
                                                <th>Contract Type</th>
                                                <th>Salary Range </th>
                                                <th>Closing Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><button class="btn btn-sm btn-success">Apply</button></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><button class="btn btn-sm btn-success">Apply</button></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><button class="btn btn-sm btn-success">Apply</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.section title start-->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
