
@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Email.cshtml";
}

<div style="padding:20px">
    <p>
        Dear @ViewBag.BusinessUserName ,
    </p>
    <p>
        Your payment to @ViewBag.PayedToBusinessMerchantName has been successful, the receiver’s MoneyFex account has been credited.
    </p>
    <p>
        Please login to your account and go to “myBusiness Expenditure Sheet” to see your statement of expenditure.
    </p>

    <br />


</div>
