
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";
}


<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <!--  -->
                <div class="dashboard_body">

                    <div class=" clearfix">
                        <h3> Select Bill Type</h3>


                        <div class="clearfix">

                        </div>
                        <hr>
                        <div class="mobile_design text-center">


                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("PayAMonthlyBill", "AgentPayBills")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/Content/images/icon/svg/monthly-bill.svg">
                                        </div>
                                        <h4>Pay a Monthly Bill</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("TopUpAnAccount","AgentPayBills")">
                                        <div class="das-icon">
                                            <img src="~/Areas/Agent/Content/images/icon/svg/top-up.svg">
                                        </div>
                                        <h4>Top-up an Account</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->

                            <div class="clearfix">
                                <hr>
                            </div>


                            <a href="@Url.Action("GoToDashboard","AgentDashboard")"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Dashboard</a>
                        </div>
                    </div>

                </div>
                <!--  -->
        

            </div>
        </div>
    </div>

</section>




