
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/EmailTemplate/Views/Shared/New_Layout_Email.cshtml";
    var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
}

<table width="100%">
    <tbody>
        <tr>
            <td class="wrapper" width="600" align="center">
                <!-- Header image -->
                <!-- Two columns -->
                <table class="section" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="column ngeku-img" width="100" valign="top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <img src="@baseUrl/Areas/EmailTemplate/images/naira-offer.png">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="column" width="20" valign="top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td> &nbsp; </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="column" width="480" valign="top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h1 style="font-size: 30px; color: #004468;  line-height:14px; margin: 5px 0;">
                                                Hi @ViewBag.SenderFirstName,
                                            </h1>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <h1 style="font-size: 35px; font-weight: bold; color: #02b6ff; display: block;  display: block; line-height: 45px; margin-bottom: 5px;">MoneyFex App is now Available to download!</h1>
                                        </td>
                                    </tr>





                                    <tr>
                                        <td>
                                            <h1 style="font-size: 28px; font-weight: bold; color: #02b6ff; display: block;  display: block; line-height: 35px;">Finally our Mobile App which you've been waiting for so long is ready! </h1>

                                            <h1 style="font-size: 28px; font-weight: bold; color: #02b6ff; display: block;  display: block; line-height: 35px;">Thank you for your patience and we hope you enjoy using our App.</h1>
                                            <center>
                                                <a href="https://play.google.com/store/apps/details?id=com.companyname.riddha.moneyfexmobile" style="text-align: center; margin: 10px 0; display: block;" target="_blank">
                                                    <img src="@baseUrl/Areas/EmailTemplate/images/google-play.png" style="display: inline-block; width: auto;">
                                                </a>
                                            </center>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h1 style="font-size: 22px; color: #004468;  line-height:30px; margin: 35px 0;">
                                                Thank You<br>
                                                <span style="display: block; color:#02b6ff;">The MoneyFex Team</span>
                                            </h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
