<div class="dbbottom-footer">
    <ul>
        <li><a href="@Url.Action("Index", "SenderDashBoard")"><i class="fa fa-home"></i> Home</a></li>
        <li>
            <a href="@Url.Action( "Index" , "SenderProfile")">
                <i class="fa fa-user" aria-hidden="true"></i>
                My   Account
            </a>
        </li>
        <li>  <a href="@Url.Action("Notification",  "SenderNotification")"><i class="fa fa-bell" disabled></i>   <span class="badge"></span> </a></li>
    </ul>
</div>
