
@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Email.cshtml";
}


<div style="padding:20px">

    <p>
        Dear Merchant Registrar,
    </p>
    <p>
        A Merchant with the name @ViewBag.MerchantName, telephone number @ViewBag.Telephone and email address @ViewBag.Email has just registered on MoneyFex Platform, please verify, accredit the Merchant and activate their account accordingly.
    </p>
    <p>
        Merchant Registration Code: @ViewBag.RegistrationCode
    </p>

    <p>
        Please CARRY OUT ALL DUE DILIGENCE PROCESSES BEFORE REGISTRATION.
    </p>
    <p>
        Use Merchant registration Due Diligence Check list.
    </p>

   


</div>

