
@{
    ViewBag.Title = "PaymentSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">


                <h1>Start Sending Money using Bank to Bank Payment </h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4> Thank You!</h4>
                <hr>
                <form>


                    <div class="login_signup">

                        <p>
                            Your Email has been successfully sent, a member of the Customer Care Team will contact your shortly!
                        </p>



                    </div>





                </form>
            </div>

        </div>
    </div>


</div>

