@model FAXER.PORTAL.Areas.KiiPayBusiness.ViewModels.WithdrawMoneyFromWalletEnterAmountVM
@{
    ViewBag.Title = "WithdrawMoneyFromWalletEnterAmount";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}

@using (Html.BeginForm()) {
<!--  -->
<div class="real_form pattern2 pdt40 ">
    <div class="container">
        <div class="row">
            <!-- Available balance -->
            <div class="col-lg-4 col-lg-offset-4 ">
                <div class="text-right wallet-balance  mb15">
                    <h5>Available balance</h5>
                    <h1 class="text-primary">$175.<small class="text-primary">86</small></h1>
                </div>
            </div>
            <!-- Available balance -->
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 ">


                <div class="login_signup mb50 clearfix text-center">

                    <div class="amount-group  ">

                        <div>
                            <label>Enter Amount</label>
                            @Html.TextBoxFor(model => model.Amount, new { @type = "number", @placeholder = "0.00", @class = "amount" })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="gbp">
                        @Model.CurrencyCode
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="text-center  clearfix">
                    <hr>
                    <button type="submit" class="btn btn-primary btn-lg mb30">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    <!-- back btn -->
                    <div class="clearfix ">

                        <center>
                            <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                        </center>
                    </div>
                    <!-- back btn end-->
                </div>
            </div>

            <!--  -->

        </div>

    </div>
</div>
}