@{
    ViewBag.Title = "OutOfLimit";
   // Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";

}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Failed to save Credit/Debit Card</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    <p style="color:red">Failed to added new Credit/Debit Card to your account.</p>
                    <a href="@Url.Action("Index","SenderDashBoard")" class="btn btn-sm btn-danger"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go to Dashboard</a>
                </div>
            </div>

        </div>
    </div>

</div>
<!--  -->
<!--  -->
