
@{
    ViewBag.Title = "RegisteredTopUpCardsUpdateSuccessfullyMessage";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Registered Top-Up Cards Update</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    <p>You've successfully updated the details on this account!</p>
                    <a href="@Url.Action("RegisteredTopUpCards","FaxerAccountProfile")" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go to Registered MoneyFex Top-up Cards</a>
                </div>
            </div>

        </div>
    </div>

</div>
<!--  -->
<!--  -->
