@model List<FAXER.PORTAL.Areas.Agent.Models.AgentCashWithdrawlViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
    string[] Alpha = ViewBag.Alpha;

}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>Registered Withdrawal Staff</h4>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.php"> <i class="feather icon-home"></i> </a>
                                    </li>

                                    <li class="breadcrumb-item">
                                        <a href="#!">Registered Withdrawal Staff</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <!--  -->
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-yellow text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5"><b>Total Registered Staff  </b></p>
                                            <h4 class="m-b-0">852</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="fa fa-users f-40 text-c-yellow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-green text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5"><b>Total Staff on Holidays</b></p>
                                            <h4 class="m-b-0">5,852</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="feather icon-credit-card f-40 text-c-green"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card bg-c-pink text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p class="m-b-5"><b> Total Countries Staff </b></p>
                                            <h4 class="m-b-0">42</h4>
                                        </div>
                                        <div class="col col-auto text-right">
                                            <i class="feather icon-book f-40 text-c-pink"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-block">
                                    <div class="row ">
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">

                                                <select name="" class="form-control form-control-round form-control-bold">
                                                    <option value="">Select Country</option>
                                                    <option>Nepal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">

                                                <select name="" class="form-control form-control-round form-control-bold">
                                                    <option value="">Select City</option>
                                                    <option>Kathmandu</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group">

                                                <input name="" class="form-control form-control-round form-control-bold" id="search" placeholder="Search Receiver">
                                            </div>
                                            <!--  -->
                                        </div>
                                    </div>

                                    <div class="m-b-15">


                                        <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#email">Send Email</button>


                                        <button class="btn btn-secondary btn-round" data-toggle="modal" data-target="#SMS">Send SMS</button>



                                    </div>
                                    <div class="  row row-eq-height>.alpha-box" id="search-result">
                                        @foreach (var item in Alpha)
                                        {
                                            <div class=" col-lg-4">
                                                <div class="list-tag alpha-box p-20 m-b-30">


                                                    <h2 class="text-bold"> @item.ToUpper()</h2>
                                                    <ul class="scroll-list">

                                                        @foreach (var data in Model)
                                                        {
                                                            if (data.FirstLetter.StartsWith(item))
                                                            {
                                                                <li><a href=""> @data.StaffName </a></li>

                                                            }
                                                            <!--  -->
                                                        }

                                                    </ul>
                                                </div>
                                            </div>
                                        }



                                    </div>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="styleSelector">
        </div>
    </div>
</div>
