
@{
    Layout = "~/Areas/EmailTemplate/Views/Shared/_Layout_Email.cshtml";
}

<div style="padding:20px">
    <p>

        Dear @ViewBag.FirstName,
    </p>
    <br />
    <p>
        Thank you for applying to the @ViewBag.JobTitle position at MoneyFex.
    </p>
    <p>
        We will like to inform you that we received your resume and cover letter. Our hiring team is currently reviewing all applications and we are planning to schedule interviews in the next three weeks. If you are among the successful candidates, you will receive email from our HR department to schedule a phone interview with you.
    </p>
    <p>
        Should you not hear from us after 14 days after this application, please assume that you have not be successful in this occassion.
    </p>
    <p>
        Thank you, again, for taking the time to apply to this role at MoneyFex.
    </p>
    <p>
        Best regards,
    </p>
    <p>
        HR Department<br />
        MoneyFex
    </p>
</div>
