
@{
    ViewBag.Title = "UsingSavedCreditDebitCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Start Sending Money to Non MoneyFex Top-up Card User</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Send Money Using Saved Credit/Debit Card</h4>
                <hr>
                <form>




                    <!--  -->
                    <div class="col-lg-5">
                        <label> Sending Amount including Fee </label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" placeholder="$500" disabled="disabled" class="form-control">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> Select Saved Credit/Debit Card </label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <select class="form-control">
                                <option>Select Saved Card</option>

                                <option>card 1</option>

                            </select>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> Name on Card </label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> Card Number</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label> End Date</label>
                    </div>

                    <div class="col-lg-3 ">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="MM">
                        </div>
                    </div>

                    <div class="col-lg-3 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="YY">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Security Code</label>
                    </div>

                    <div class="col-lg-3 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="">



                        </div>
                    </div>

                    <div class="col-lg-3 ">
                        <div class="form-group">

                            <img src="images/code.png">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <hr>
                    <h4>Your home & billing Address: </h4>
                    <p>For security and verification purposes, your home and billing address must be same</p>

                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Address line 1">
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Address line 2 (optional)">
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Post/Zip Code">
                        </div>
                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Country">
                        </div>
                    </div>
                    <!--  -->
                    <div class="clearfix"></div>


                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="Accept" value="Accept"> Accept our Terms and Conditions</label>
                            </div>
                        </div>
                    </div>




                </form>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="" class="fbtn btn-back hidden-sm hidden-xs"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                <a href="non-money-fax-hurray.php" class="fbtn btn-next">Finish Sending this Amount <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <br>
                <a href=" " class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>



            </div>
        </div>
    </div>
</div>


