
@{
    ViewBag.Title = "RegistrationMessage";
    Layout = "~/Areas/Businesses/Views/Shared/_Business_Layout.cshtml";
}

<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Login</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    <p>Thank you for registering with MoneyFex Service, your reliable partner in business</p>
                    <p>You can proceed your registration process via Activation Link </p>
                    <p>The Activation Link has been sent to the registered email Address</p>

                </div>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <a href="@Url.Action("FirstLogin" ,"BusinessSignUp")" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a>

            </div>
        </div>
    </div>
</div>

</div>
<!--  -->
