
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}


<section class="section-space20 bg-white">
    <div class="mf-home-page">
        <div class="container">
            <div class="">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    
                    <img src="~/Areas/KiiPayBusiness/images/homepage-kiipay-mobile.png" class="img-responsive">
                </div>
                <div class="col-lg-6   col-md-6 col-sm-6 col-xs-12">
                    <div class="pinside40  ">
                        <h1 class="text-primary">
                            Hi,<br>
                            Go Cashless<br>
                            <span id="swappable-title"><span>Pay for Goods</span></span><br>
                            With Your Digital<br>
                            <!-- <img src="~/Areas/KiiPayBusiness/images/logo.png"> -->KiiPay Wallet
                        </h1>
                        <div class="mt20 mb15">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a href="" class=" radius-20"><img src="~/Areas/KiiPayBusiness/images/google-play.png"></a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a href="" class=" radius-20"><img src="~/Areas/KiiPayBusiness/images/apple-store.png"></a>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="row mt30">
                            <div class="label-fontsize">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-home-page">
                                        <div class="radio  ">
                                            Sign up as
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>

                                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-home-page">
                                        <div class="radio icheck-primary">
                                            <input type="radio" id="primary2" name="primary" />
                                            <label for="primary2">Person</label>
                                        </div>
                                        <div class="radio icheck-primary">
                                            <input type="radio" id="primary1" name="primary" />
                                            <label for="primary1">Business</label>
                                        </div>
                                        <div class="clearfix">
                                        </div>


                                    </div>
                                </div>


                                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">

                                    <div class="form-home-page">
                                        <div class="niceCountryInputSelector" data-selectedcountry="US" data-showspecial="false" data-showflags="true" data-i18nall="All selected"
                                             data-i18nnofilter="No selection" data-i18nfilter="Filter" data-onchangecallback="onChangeCallback" />
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-home-page">

                                    <div class="  contact-no-group">
                                        <div class="countr-code-home">
                                            977-
                                        </div>
                                        <input type="number" class="  contact-no-lg" maxlength="10" minlength="10" placeholder="  Mobile Number ">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12">
                                <div class="clearfix mt20 mb10">
                                    <a href="signup-with-mobile-number-success.php" class="btn btn-primary btn-lg btn-block radius-20">Enter</a>
                                </div>
                                <p class="text-center">or with your <a href="signup.php">email address</a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
