
@{
    ViewBag.Title = "CardUsersIdentification";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>MoneyFex Top-card Registration</h1>

            </div>

        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Card User's Identification</h3>
                <hr>
                <form>

                    <p>To confirm the identity of your MoneyFex Top-up Card (MFTC) user, please upload his/her passport size photograph below. This photo will be printed on the MFTC that will be sent to the user by us.</p>


                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="file" name="" class="form-control" placeholder=" ">

                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="@Url.Action("CardUsersContactDetails")" class="fbtn btn-back hidden-sm hidden-xs"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
                <!-- top-card-registration-payment.php
                 -->
                <a href="@Url.Action("TopCardRegistrationPayment")" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <br>
                <a href=" " class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>
    </div>
</div>
<!--  -->
