
@{
    ViewBag.Title = "FaxingNoMFCT";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Start Sending Money</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Select Money Sending option</h3>
                <hr>
                <p>Register a MoneyFex Top-up Card (MFCT) that you can top-up to instantly make money available to your family members or friends or business associates living abroad.</p>
                <p>This card can be top-up using either credit/debit or direct online payment into MoneyFex Service’s bank account.</p>
                <p>With this card, you can set the limit on how much the Receiver can withdraw at a given time, automatically top-up the card and transfer money between multiple cards registered in the same country.</p>
                <center>
                    <a href="@Url.Action("TopUpCardRegistration")" class="btn btn-primary ">Continue with MoneyFex Top-up Card Registration</a>
                    <p class="or_css">OR</p>
                    <a href="faxing-no-login.php" class="btn btn-default">Continus with Non Card Money Sending</a>
                </center>


            </div>

        </div>
    </div>


</div>
<!--  -->
