
@{
    ViewBag.Title = "FaxMoney";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<!-- <div class="progress">
  <div class="progress-bar  " role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:7%">

  </div>
  <div class="arrow"></div>
</div> -->
<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Start Sending Money</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login_signup">
                    <p>Does the "Receiver" have a MoneyFex Top-up Card ? </p>
                    <a href="@Url.Action("FaxMoneyLogin")" class="btn btn-success btn-sm">Yes</a>
                    <a href="@Url.Action("TopUpCardRegistrationLogin")" class="btn btn-primary btn-sm">No</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!--  -->
<!--  -->
<!-- <div class="dynamic_footer">
    <div class="container">
        <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
<a href="index.php" class="fbtn btn-back hidden-xs hidden-sm "><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>

<a href="estimate1.php" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
<br/>
<a href="index.php" class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>


    </div>
</div>
</div>
</div> -->
<!--  -->
