
@{
    ViewBag.Title = "NonMoneyFaxEstimateFees";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
			<?php include("include/header-login.php");?>


<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Start Sending Money to Non MoneyFex Top-up Card User</h1>
            </div>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <form>

                    <!--  -->
                    <div class="col-lg-5">
                        <label> Sending Amount</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Sending Fee</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="" disabled="disabled">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Total Amount including Fee</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="" disabled="disabled">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Current Exchange Rate</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="" disabled="disabled">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                    <!--  -->
                    <div class="col-lg-5">
                        <label>Amount to be Received</label>
                    </div>

                    <div class="col-lg-6 ">
                        <div class="form-group">

                            <input type="text" name="" class="form-control" placeholder="" disabled="disabled">

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--  -->
                </form>
            </div>

        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="@Url.Action("NonMoneyFaxTopUpCardUser")" class="fbtn btn-back hidden-sm hidden-xs"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>

                <a href="@Url.Action("NonMoneyFaxRreceiversDetails")" class="fbtn btn-next">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                <br>
                <a href=" " class="fbtn btn-back hidden-lg hidden-md"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>
    </div>
</div>
<!--  -->
