
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/KiiPayBusiness/Views/Shared/_Layout_KiiPayBusiness.cshtml";
}

@using (Html.BeginForm("RequestSecurityCode", "KiiPayBusinessLogin"))
{

    <!--  -->
    <div class="dynamic_bg_form ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    <h1>Forgot Password</h1>

                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="real_form pattern2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="login_signup">
                        <div class=" ">
                            <h4>To ensure your account is protected at all, we will email a one-time security code that allow you to securely reset your password</h4>

                        </div>
                        <hr>

                        <!--  -->


                        @*<div class="col-lg-12 ">
                            <div class="form-group">
                                @Html.TextBox("emailAddress", new { @class = "form-control", @type = "email", @placeholder = "Email Address" })
                                @Html.ValidationMessage("emailAddressError", "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
                                @Html.ValidationMessage("emailAddressError", "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <!--  -->
                        <!--  -->

                        <div class="col-lg-12 ">
                            <button type="submit" class="btn btn-primary  btn-sm">Request Secutity Code <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                        <!--  -->



                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>
        </div>


    </div>
    <!--  -->
}