@model FAXER.PORTAL.Areas.Agent.Models.ThirdPartyMoneyTransferVM
@{
    ViewBag.Title = "SubmitThirdPartyMoneyTransfer";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

<style type="text/css" media="screen">
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(1.5);
        /* IE */
        -moz-transform: scale(1.5);
        /* FF */
        -webkit-transform: scale(1.5);
        /* Safari and Chrome */
        -o-transform: scale(1.5);
        /* Opera */
        transform: scale(1.5);
        padding: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    .text-left {
        text-align: right;
    }

    .forms-wrapper {
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
    }

    .forms {
        border: solid 1px #00adef;
    }

        .forms .forms-header {
            background: #00adef;
            color: #fff;
            padding: 8px;
        }

    .form-main-title {
        font-size: 20px;
        margin-bottom: 10px;
        color: #003d55;
        font-weight: 600;
    }

    .forms .forms-body {
        padding: 20px;
        background: #dcf0f7;
        border-bottom: solid 1px #00adef;
        margin-bottom: 20px;
    }

        .forms .forms-body table {
            width: 100%;
        }

        .forms .forms-body td {
            padding: 5px;
        }

        .forms .forms-body table,
        .forms .forms-body table tr,
        td,
        th {
            border: 0;
            text-align: left;
        }



        .forms .forms-body input, select {
            background: #fff;
            border: solid 1px #00adef;
            border-radius: 15px;
        }

    input[type='number'] {
        -moz-appearance: textfield;
    }

    ::-webkit-calendar-picker-indicator {
        display: none;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }


    .forms-footer {
        background: #eee;
        padding: 30px;
    }

    .button {
        padding: 10px 35px;
        color: #fff;
        outline: 0;
        border: 0;
        border-radius: 30px;
    }

    button.button.button-cancel {
        background: red;
    }

    button.button.button-Submit {
        background: #00adef;
        float: right;
    }
</style>

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header border-bottom">

                                    <button onclick="window.history.go(-1);" class=" btn btn-primary f-left btn-round">
                                        <i class="fa fa-angle-left m-r-5"></i> Back
                                    </button>
                                </div>


                                <div class="card-body">

                                    <!--  -->
                                    <div class="forms-wrapper">

                                        <div class="form-main-title">
                                            Third Party Money Transfer
                                        </div>
                                        <p>FOR USE WITH MONEY TRANSFERS BY A THIRD PARTY</p>
                                        <div class="forms">
                                            <div class="forms-header">
                                                THIRD PARTY DETAILS
                                            </div>
                                            <!--  -->
                                            <div class="forms-body">
                                                <div class="form-block">

                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <label>Is the transaction is being conducted on behalf of a third party?</label>

                                                                </td>
                                                                <td>
                                                                    <select>
                                                                        <option></option>
                                                                        <option>Yes</option>
                                                                        <option>No</option>
                                                                    </select>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Sender Full Name or Business Name:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Date of Birth:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Country of Birth:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Gender :
                                                                        <select>
                                                                            <option></option>
                                                                            <option>Male</option>
                                                                            <option>Female</option>
                                                                        </select>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Address:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Telephone Number:
                                                                        <input type="number" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Email Address:
                                                                        <input type="email" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        ID Type:
                                                                        <select>
                                                                            <option>Select </option>
                                                                            <option>Passport</option>
                                                                            <option>Driving License</option>
                                                                            <option>National ID Card</option>
                                                                        </select>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        ID Number:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Expiring Date:
                                                                        <input type="date" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Issuing Country:
                                                                        <select class="form-blue selectpicker" data-show-subtext="true" data-live-search="true">

                                                                            <option>Select</option>
                                                                            <option value="Afganistan">Afghanistan</option>
                                                                            <option value="Albania">Albania</option>
                                                                            <option value="Algeria">Algeria</option>
                                                                            <option value="American Samoa">American Samoa</option>
                                                                        </select>
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Occupation:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--  -->

                                            <div class="forms-header">
                                                SENDING AGENT INFORMATION
                                            </div>
                                            <!--  -->
                                            <div class="forms-body">
                                                <div class="form-block">

                                                    <table>
                                                        <tbody>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Country:
                                                                        <select class="form-blue selectpicker" data-show-subtext="true" data-live-search="true">

                                                                            <option>Select</option>
                                                                            <option value="Afganistan">Afghanistan</option>
                                                                            <option value="Albania">Albania</option>
                                                                            <option value="Algeria">Algeria</option>
                                                                            <option value="American Samoa">American Samoa</option>
                                                                        </select>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Agent Name:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Agent Account No.:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Agent Staff ID:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Agent Email:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Agent Telephone:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--  -->

                                            <div class="forms-header">
                                                <span style="float:left;"> MONEYFEX CONTROL NUMBER</span> <span style="float:right;">For MF Head Office Use only</span>
                                                <div style="clear: both;">

                                                </div>
                                            </div>
                                            <!--  -->
                                            <div class="forms-body">
                                                <div class="form-block">

                                                    <table>
                                                        <tbody>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Main Amount:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Fee:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        MFCN:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--  -->

                                            <div class="forms-header">
                                                MoneyFex Compliance Specialist
                                            </div>
                                            <!--  -->
                                            <div class="forms-body">
                                                <div class="form-block">

                                                    <table>
                                                        <tbody>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Approved by:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Title:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Date:
                                                                        <input type="date" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <label>
                                                                        Declined by:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Title:
                                                                        <input type="text" name="">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        Date:
                                                                        <input type="date" name="">
                                                                    </label>
                                                                </td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--  -->

                                            <div class="forms-footer  ">
                                                <button type="" class="button button-cancel  ">Cancel </button>

                                                <button type="" class="button button-Submit  ">Submit</button>
                                            </div>
                                        </div>
                                    </div>


                                    <!--  -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
