
@{
    ViewBag.Title = "LoginMessage";    
    Layout = "~/Areas/Agent/Views/Shared/_New_Agent_Layout.cshtml";

}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Login</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    <p>
                        <b>Thank you for registering with MoneyFex Agent platform.</b>

                    </p>

                    <p><b>Your login details have been sent to your email address and mobile number.</b></p>

                </div>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <a href="@Url.Action("Login","AgentLogin")" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                @*  <button  class="fbtn btn-next" onclick="modalshow()">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></button>*@

                <!--
                <a href="login-before.php" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a> -->

            </div>
        </div>
    </div>
</div>

<!--  -->

@section Scripts {

    <script type="text/javascript">

        function modalshow() {


        };
    </script>

}
