<html>
<head>
    <title>

    </title>

</head>
<body>
    <img src="~/Areas/CardUsers/images/logo.png" class=" center-block" />
    <br />

    @RenderBody()
    <br />


    <p style="text-align: justify;" >
        Receiver may receive less due to fees charged or offsets applied by the receiver's financial institution or any foreign taxes that may be assessed.
        Additionally, restrictions imposed by government in your intended destination state or territory may affect your transfer/payment.
        In addition to applicable transaction fee, foreign exchange gains may apply. Currency is converted at an exchange rate set by MoneyFex.
        Please see the terms and conditions or call MoneyFex at +44 2081445215 for more information regarding currency exchange.
    </p >

    <p style="text-align: justify;">
        If you are using our services to deposit money into a virtual account, pay for goods and services abroad, please verify that the receiver information, including receiver’s email address, telephone number and or other necessary account information
        are accurate and correct before sending. MoneyFex is not responsible for losses resulting from your failure to provide correct information for your transfer.
    </p>

    <p style="text-align: justify;">You can cancel for a full refund within 180 days of payment, unless the funds have been received by the beneficiary.</p>

    <p style="text-align: justify;">
        © 2018 MoneyFex. MoneyFex Limited, 64 Pearson Street, Gradley Health, West Midlands B64 6EE, United Kingdom.
        MoneyFex Limited is authorised and regulated in the United Kingdom by the Financial Conduct Authority (no. 745989). Registered with UK Companies House. Reg no.  10105032
    </p>
</body>
</html>
