
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}
<?php include("include/header.php");?>
<div class="page-header" style="background:  url(/images/page-header.jpg) no-repeat center;  background-size: cover;">
    <div class="bredcum_newmenu">
        <div class=" ">
            <div class="container">

                <ol class="breadcrumb ">
                    <li> <a href="@Url.Action("Index" , "Home")">Home</a></li>
                    <li class="active">Website Terms of Use</li>
                </ol>

            </div>
        </div>
    </div>
</div>
<div class="">
    <!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pinside20 mb80 mt20">
                    <div class="row">
                        <h1 class="page-new">Website Terms of Use</h1>
                        <h3>Acceptance of Terms of Use</h3>
                        <p>These terms of use are entered into by and between you and MoneyFex Ltd ("Company", "we" or "us"). The following terms and conditions, together with any documents incorporated by reference (collectively, these "Terms of Use"), govern your access to and use of MoneyFex.com, including any content, functionality and services offered on or through MoneyFex.com domains, subdomains or sub-directories, regardless of your means of access and use (whether online or mobile, including by way of mobile application) (collectively the "Website"), whether as a guest or a registered user.</p>
                        <p>Please read the Terms of Use carefully before you start to use the website. By using the Websites, you accept and agree to be bound and abide by these Terms of Use and our Privacy Statement, which are located at each homepage of the websites and are incorporated herein by reference. If you do not want to agree to these Terms of Use or the Privacy Statement, you must not access or use the website.</p>
                        <p>
                            The websites are offered and available to users who are at least 18 years of age, or the age of majority in their country or place of residence. By using the website, you represent and warrant that you are of legal age to form a binding contract with MoneyFex Ltd and meet all of the foregoing eligibility requirements. If you do not meet all of these requirements, you must not access <a href="https://moneyfex.com/">www.MoneyFex.com</a> and associated Mobile App.
                        </p>
                        <h3>Changes to the Terms of Use</h3>
                        <p>
                            We may revise and update these Terms of Use from time to time in our sole discretion. All changes are effective immediately when we post them and apply to all access to and use of the website thereafter. Your continued use of the website and associated Mobile App following the posting of revised Terms of Use means that you accept and agree to the changes. You are expected to check this page from time to time so you are aware of any changes, as they are binding on you.
                        </p>
                        <h3>Accessing the Website/App and Account Security</h3>
                        <p>We reserve the right to withdraw or amend the website and associated Mobile App, and any service or material we provide on the website, in our sole discretion without notice. We will not be liable if for any reason all or any part of the website or Mobile App is unavailable at any time or for any period. From time to time, we may restrict access to some parts of the website its associated Mobile App, or the entire website, to users, including registered users. You are responsible for making all arrangements necessary for you to have access to the website and the associated Mobile App.</p>
                        <p>
                            To access the website or some of the resources it offers, you may be asked to provide certain registration details or other information. It is a condition of your use of the the website and the associated Mobile App that all the information you provide on the the website and the associated Mobile App is correct, current and complete. You agree that all information you provide to us through the  website and the associated Mobile App or otherwise, including but not limited to the use of any interactive features on the website and the associated Mobile App, is governed by our Privacy Statement, and you consent to all actions we take with respect to your information consistent with our Privacy Statement.
                        </p>
                        <p>
                            If you choose, or are provided with, a user name, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any other person or entity. You also acknowledge that your account is personal to you and agree not to provide any other person with access to the website or portions of it using your user name, password or other security information. You agree to notify us immediately of any unauthorized access to or use of your user name or password or any other breach of security. You also agree to ensure that you exit from your account at the end of each session. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
                        </p>
                        <h3>
                            Intellectual Property Rights
                        </h3>
                        <p>
                            The website and the associated Mobile App and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by MoneyFex Ltd, its licensors or other providers of such material and are protected by United Kingdom and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
                        </p>

                        <p>
                            These Terms of Use permit you to use the website and the associated Mobile App for your personal use only. You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store or transmit any of the material on our  website and the associated Mobile App, except as follows:
                        </p>
                        <ul>
                            <li>Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.</li>
                            <li>You may store files that are automatically cached by your web browser for display enhancement purposes.</li>
                            <li>
                                You may print or download one copy of a reasonable number of pages of the website for your personal use and not for further reproduction, publication or distribution.
                            </li>
                            <li>
                                If we provide desktop, mobile or other applications for download, you may download a single copy to your computer or mobile device solely for your personal use, provided you agree to be bound by our end user license agreement for such applications.
                            </li>
                            <li>
                                If we provide social media features with certain content, you may take such actions as are enabled by such features.
                            </li>
                        </ul>
                        <p><b>You must not:</b></p>
                        <ul>
                            <li>
                                Modify copies of any materials from <a href="https://moneyfex.com/">www.MoneyFex.com</a> or its associated mobile App.
                            </li>
                            <li>
                                Use any illustrations, photographs, video or audio sequences or any graphics separately from the accompanying text.
                            </li>
                            <li>Delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from the Sites.</li>
                        </ul>
                        <p>
                            If you print, copy, modify, download or otherwise use or provide any other person with access to any part of the website in breach of the Terms of Use, your right to use the website will cease immediately and you must, at our option, return or destroy any copies of the materials you have made. No right, title or interest in or to the website and the associated Mobile App or any content on the website is transferred to you, and all rights not expressly granted are reserved by MoneyFex Ltd. Any use of the website and the associated Mobile App not expressly permitted by these Terms of Use is a breach of these Terms of Use and may violate copyright, trademark and other laws.
                        </p>
                        <h3>Trademarks</h3>
                        <p>
                            The MoneyFex name, logo, globe design and related trademarks, trade names, service marks, and other trade indicia owned by MoneyFex Ltd are registered or unregistered marks in the United Kingdom and other countries and may not be used without the Company’s prior written consent. Other trademarks, service marks, trade names, or trade indicia referenced on the website may be owned by third parties and are used solely for identification purposes.
                        </p>
                        <h3>Prohibited Uses</h3>
                        <p>You may use the website only for lawful purposes and in accordance with these Terms of Use. Without limitation, you agree not to use the website and the associate Mobile App:</p>
                        <ul>
                            <li>
                                In any way that violates any applicable local or international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the United Kingdom or other countries).
                            </li>
                            <li>
                                For the purpose of exploiting, harming or attempting to exploit or harm minors in any way by exposing them to inappropriate content, asking for personally identifiable information or otherwise.
                            </li>
                            <li>
                                To transmit, or procure the sending of, any advertising or promotional material, including any "junk mail", "chain letter" or "spam" or any other similar solicitation.
                            </li>
                            <li>To impersonate or attempt to impersonate MoneyFex Ltd, a Company employee, another user or any other person or entity (including, without limitation, by using e-mail addresses or screen names associated with any of the foregoing).</li>
                            <li>To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the website, or which, as determined by us, may harm MoneyFex Ltd or users of the website and the associated mobile App or expose them to liability.</li>
                        </ul>
                        <h3>Additionally and without limitation, you agree not to:</h3>
                        <ul>
                            <li>
                                Use the website in any manner that could disable, overburden, damage, or impair the website or interfere with any other party's use of the website, including their ability to engage in real time activities through the website and the associated Mobile App.
                            </li>
                            <li>Use any robot, spider or other automatic device, process or means to access the website for any purpose, including monitoring or copying any of the material on the Sites.</li>
                            <li>
                                Use any manual process to monitor or copy any of the material on the website or for any other unauthorised purpose without our prior written consent.
                            </li>
                            <li>Use any device, software or routine that interferes with the proper working of the Sites.</li>
                            <li>
                                Introduce any viruses, Trojan horses, worms, logic bombs or other material which is malicious or technologically disruptive or harmful.
                            </li>
                            <li>Attempt to gain unauthorised access to, interfere with, damage or disrupt any parts of the website, the server(s) on which the website is/are stored, or any server, computer or database connected to the website.</li>
                            <li>
                                Attack the website via a denial-of-service attack or a distributed denial-of-service attack.
                            </li>
                            <li>Otherwise attempt to interfere with the proper working of the website and the associated Mobile App.</li>
                        </ul>
                        <h3>Reliance on Information Posted</h3>
                        <p>
                            The information presented on or through the website is made available solely for general information purposes. We do not warrant the accuracy, completeness or usefulness of this information. Any reliance you place on such information is strictly at your own risk. We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the website, or by anyone who may be informed of any of its contents.
                        </p>
                        <p>
                            The website may include content provided by third parties, including materials provided by other users, bloggers and third-party licensors, syndicators, aggregators and/or reporting services. All statements and/or opinions expressed in these materials, and all articles and responses to questions and other content, other than the content provided by MoneyFex Ltd, are solely the opinions and the responsibility of the person or entity providing those materials. These materials do not necessarily reflect the opinion of MoneyFex Ltd. We are not responsible or liable to you or any third party for the content or accuracy of any materials provided by any third parties.
                        </p>
                        <h3>Changes to the Content of the website and its associate Mobile App, and Functionality Variances</h3>
                        <p>
                            We may update the content on the website from time to time, but said content is not necessarily complete or up-to-date. Likewise, functionality of the website (including but not limited to your means of access to and use of the website, which online or mobile, or by way of mobile application) may vary based upon said means of access or use. Any of the material on the website may be out of date at any given time, and we are under no obligation to update such material.
                        </p>
                        <h3>Information About You and Your Visits to the website</h3>
                        <p>
                            All information we collect on the website is subject to our Privacy Statement, which is located at each homepage of our website. By using the website, you consent to all actions taken by us with respect to your information in compliance with the Privacy Statement.
                        </p>
                        <h3>Money Transfer Terms and Conditions</h3>
                        <p>
                            All transfer activities (Transfering money or paying for goods and services) through the website or other transactions for services formed through the website or as a result of visits made by you are governed by the Terms and Conditions applicable to your specific transfer or payment activity, which are incorporated herein by reference.
                        </p>
                        <h3>
                            Linking to the website and Social Media Features
                        </h3>
                        <p>
                            You may link to our homepage, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part without our express written consent.
                        </p>
                        <p>
                            <b>
                                The website may provide certain social media features that enable you to:
                            </b>
                        </p>
                        <ul>
                            <li>
                                Link from your own or certain third-party websites to certain content on the website.
                            </li>
                            <li>
                                Send e-mails or other communications with certain content, or links to certain content, on the Sites.
                            </li>
                            <li>Cause limited portions of content on the website to be displayed or appear to be displayed on your own or certain third-party websites.</li>
                        </ul>
                        <p>
                            You may use these features solely as they are provided by us, and solely with respect to the content they are displayed with and otherwise in accordance with any additional terms and conditions we provide with respect to such features. Subject to the foregoing, you must not:
                        </p>
                        <ul>
                            <li>
                                Establish a link from any website that is not owned by you.
                            </li>
                            <li>
                                Cause the website or portions of it to be displayed, or appear to be displayed by, for example, framing, deep linking or in-line linking, on any other site.
                            </li>
                            <li>Link to any part of the website other than the homepage.</li>
                            <li>Otherwise take any action with respect to the materials on the Sites that is inconsistent with any other provision of these Terms of Use.</li>
                        </ul>
                        <p>
                            You agree to cooperate with us in causing any unauthorised framing or linking immediately to cease. We reserve the right to withdraw linking permission without notice.
                        </p>
                        <p>We may disable all or any social media features and any links at any time without notice in our discretion.</p>
                        <h3>Links from the website</h3>
                        <p>
                            If the website contain links to other websites and resources provided by third parties, these links are provided for your convenience only. This includes links contained in advertisements, including banner advertisements and sponsored links. We have no control over the contents of those websites or resources, and we accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third-party websites linked to the website and the associated Mobile App, you do so entirely at your own risk and subject to the terms and conditions of use for such websites.
                        </p>
                        <h3>Disclaimer of Warranties</h3>
                        <p>
                            You understand that we cannot and do not guarantee or warrant that files available for downloading from the internet or the website will be free of viruses or other destructive code. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for anti-virus protection and accuracy of data input and output, and for maintaining a means external to the website for any reconstruction of any lost data. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK, VIRUSES OR OTHER TECHNOLOGICALLY DISRUPTIVE OR HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED ON THEM, OR ON ANY WEBSITE LINKED TO THEM.
                        </p>
                        <p>YOUR USE OF THE WEBSITE AND ITS ASSOCIATED MOBILE APP, THEIR CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, THEIR CONTENT AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER THE COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY, ACCURACY OR AVAILABILITY OF THE WEBSITE. WITHOUT LIMITING THE FOREGOING, NEITHER MONEYFEX LTD NOR ANYONE ASSOCIATED WITH THE COMPANY REPRESENTS OR WARRANTS THAT THE WEBSITE, THEIR CONTENT OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT DEFECTS WILL BE CORRECTED, THAT OUR WEBSITE OR THE SERVER(S) THAT MAKE THEM AVAILABLE ARE FREE OF VIRUSES OR OTHER DISRUPTIVE OR HARMFUL COMPONENTS OR THAT THE WEBSITE OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS.</p>
                        <p>
                            MONEYFEX LTD HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT AND FITNESS FOR PARTICULAR PURPOSE.
                        </p>
                        <p>
                            THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
                        </p>
                        <h3>
                            Limitation on Liability
                        </h3>
                        <p>
                            IN NO EVENT WILL MONEYFEX LTD, ITS AFFILIATES, AGENTS OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO THEM, ANY CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
                        </p>
                        <p>
                            THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
                        </p>

                        <h3>Indemnification</h3>
                        <p>You agree to defend, indemnify and hold harmless MoneyFex Ltd, its affiliates, agents, licensors and service providers, and its and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) arising out of or relating to your violation of these Terms of Use or your use of the the website and the associated Mobile App, including but not limited to any use of the websites' content, services and products other than as expressly authorized in these Terms of Use, or your use of any information obtained from the website.</p>
                        <h3>Governing Law and Jurisdiction</h3>
                        <p>To the extent permitted under applicable law, all matters relating to the website and these Terms of Use and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the England and Wales without giving effect to any choice or conflict of law provision or rule (whether of the United Kingdom or any other jurisdiction).</p>
                        <p>Any legal suit, action or proceeding arising out of, or related to, these Terms of Use or the website shall be instituted exclusively in Her Majesty's Courts and Tribunals Service. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</p>
                        <h3>Waiver and Severability</h3>
                        <p>No waiver by MoneyFex Ltd of any term or condition set forth in these Terms of Use shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of MoneyFex Ltd to assert a right or provision under these Terms of Use shall not constitute a waiver of such right or provision.</p>
                        <p>If any provision of these Terms of Use is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Use will continue in full force and effect.</p>
                        <h3>Entire Agreement</h3>
                        <p>
                            The Terms of Use constitute the sole and entire agreement between you and MoneyFex Ltd with respect to the website and its associated Mobile App and supersede all prior and contemporaneous understandings, agreements, representations and warranties, both written and oral, with respect to the Sites.
                        </p>
                        <h3>Your Comments and Concerns</h3>
                        <p>
                            The website and its associated Mobile App are operated by MoneyFex 64 Pearson Street, Grant Heath West Midlands B64 6EE. United Kingdom. Feedback, comments, requests for technical support and other communications relating to the website should be directed to us by way of instructions located at each homepage of our website or Mobile Application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
