
@{
    ViewBag.Title = "PayGoodsAndServicesAbroad";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
}

<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Pay for goods &  services</h1>
            </div>
        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <h3 class="">Select Payment Type</h3>
                <br>
                <form>


                    <a href="@Url.Action("Index", "MerchantNationalPaymentbyCardUser")" class="btn btn-primary">National Payment</a>
                    &nbsp; &nbsp;
                    <div class="hidden-lg hidden-md"><br></div>
                    <a href="@Url.Action("Index", "MerchantInternationalPaymentByCardUser")" class="btn btn-success">International Payment</a>


                </form>
            </div>

        </div>
    </div>


</div>
<!--  -->
