
@{
    ViewBag.Title = "PaymentSucessConfirmation";
    Layout = "~/Areas/CardUsers/Views/Shared/_CarUser_Layout.cshtml";
}


<!--  -->
<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                @*<h1>Pay a Merchant</h1>*@
                <h1>Payment Confirmation</h1>



            </div>

                



        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

                <p>
                    The payments has been successful, your MoneyFex Top-up Card has been debited
                </p>
            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="dynamic_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <a href="@Url.Action("Index","CardUserHome")" class="fbtn btn-back hidden-xs hidden-sm "><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Dashboard</a>

            </div>
        </div>
    </div>
</div>

<!--  -->
