<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> Staff Holiday Resquest </h1>

    <table>
        <tr>

            <td>Dear Admin, </td>
        </tr>
        <br />
        <tr>
            <td>The staff with the following information has requested holidays as follow:</td>
        </tr>
        <br />
        <tr>
            <td>Staff Name :</td>
            <td><strong>{StaffName}</strong></td>
        </tr>
        <tr>
            <td>Staff ID: </td>
            <td><strong>{StaffId}</strong></td>
        </tr>
        <tr>
            <td>Staff Position:</td>
            <td><strong>Technical Manager</strong></td>
        </tr>
        <tr>
            <td>Staff Country:</td>
            <td><strong>{StaffCountry}</strong></td>
        </tr>
        <tr>
            <td>Staff City:</td>
            <td><strong>{StaffCity}</strong></td>
        </tr>
        <br />

        <tr>
            <td>Reason For Holidays:</td>
            <td><strong>{HolidayReason}</strong>
        </tr>
        <br />
        <tr>

            <td>Holiday Details</td>
        </tr>
        <br />
        <tr>
            <td colspan="1">
                Total Holidays allowed
            </td>
            <td colspan="2">
                Total Holiday Taken
            </td>
            <td colspan="3">
                Total Holiday left
            </td>
            <td colspan="4">
                Total Holiday Requested
            </td>
            <td colspan="5">
                Holiday start date
            </td>
            <td colspan="6">
                Holiday End date
            </td>

        </tr>
        <tr>
            <td colspan="1">
                <strong>
                    {TotalHolidaysAllowed}
                </strong>
            </td>
            <td colspan="2">
                <strong>
                    {HolidaysTaken}
                </strong>
            </td>
            <td colspan="3">
                <strong>
                    {HolidaysLeft}
                </strong>
            </td>
            <td colspan="4">
                <strong>
                    {TotalHolidayRequested}
                </strong>
            </td>
            <td colspan="5">
                <strong>
                    {HolidayStartDate}
                </strong>
            </td>
            <td colspan="6">
                <strong>
                    {HolidayEndDate}
                </strong>
            </td>
        </tr>
        <br />
        <tr>
            <td>
                Action
            </td>
        </tr>
        <tr>
            <td>
                <a href="{ApproveHoliday}">
                    <button class="button-box"> Approve Holiday Request </button>
                </a>

            </td>
            <td>
                <a href="{RejectHoliday}">
                    <button href="" class="button-box">Reject Holiday Request  </button>
                </a>
            </td>
        </tr>

        <br />
        <tr>
            <td> Thanks </td>
        </tr>
        <br />
        <tr>
            <td> System Administrator</td>
        </tr>



    </table>
</body>
</html>