
@{
    ViewBag.Title = "AdminPortalStaffLogin1";
    Layout = "~/Areas/Staff/Views/Shared/_staff_layout.cshtml";
}

<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">

                <h1>Back Door Login</h1>
            </div>
        </div>
    </div>

</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login_signup">
                    <div class="text-center">
                        <h4><i>Unauthorised access to this portal is prohibited and violators will be prosecuted !!!</i></h4>

                    </div>
                    <hr>
                    <form>
                        <!--  -->


                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <input type="email" name="" class="form-control" placeholder="Staff First and Surname">
                            </div>
                        </div>

                        <!--  -->
                        <!--  -->


                        <div class="col-lg-12 ">
                            <div class="form-group">



                                <div class="input-group">

                                    <input type="text" class="form-control" id="show_password" placeholder="Staff Login Code">
                                    <div class="input-group-addon" id="passwoed_show"><i class="fa fa-eye"></i></div>
                                </div>

                            </div>
                        </div>

                        <!--  -->
                        <!--  -->


                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <input type="email" name="" class="form-control" placeholder="L1 Code">
                            </div>
                        </div>

                        <!--  -->
                        <!--  -->


                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <label><input type="checkbox" name="">  I am authorised to login to MoneyFax Service Admin Portal</label>
                            </div>
                        </div>

                        <!--  -->
                        <!--  -->
                        <center>
                            <a href="" class="fbtn btn-next">Login <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </center>
                        <!--  -->

                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<!--  -->
