@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_New_Dashboard_Layout.cshtml";
}


<section class="dashboard">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">

                <!--  -->
                <div class="dashboard_body">

                    <div class=" clearfix">
                        <div class="col-lg-6">
                            <h3>Payment Request</h3>
                        </div>
                        <div class="col-lg-6">
                            <label class="text-danger" id="ErrorMsg" style="display:none"></label>
                        </div>
                        <hr>
                        <div class="mobile_design text-center">


                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a onclick="SendRequest()">

                                        <div class="das-icon">
                                            <img src="~/Content/Images/icon/svg/request.svg">
                                        </div>
                                        <h4>Send a Request </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a  onclick="PayRequest()">

                                        <div class="das-icon">
                                            <img src="~/Content/Images/icon/svg/pay-request.svg">
                                        </div>
                                        <h4>Pay a Request </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->
                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a onclick="RequestHistory()">

                                        <div class="das-icon">
                                            <img src="~/Content/Images/icon/svg/history.svg">
                                        </div>
                                        <h4>Request History </h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!--  -->

                            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                <div class="dashboard_thumb">
                                    <a href="@Url.Action("","")">
                                        <div class="das-icon">
                                            <img src="~/Content/Images/icon/sud.png">
                                        </div>
                                        <h4>Service <br>Under Developement</h4>
                                    </a>
                                </div>
                            </div>
                            <!--  -->
                            <!-- back btn -->
                            <div class="clearfix">
                                <hr>
                                <center>
                                    <a href="javascript:history.back()" class=" "><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back </a>
                                </center>
                            </div>
                            <!-- back btn end-->



                        </div>
                    </div>

                </div>
                <!--  -->

            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <!--  -->
</section>



<!-- withdrawal-code -->
<div class="modal fade" tabindex="-1" id="withdrawal-code" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-card" role="document">
        <div class="modal-content">
            <div class="modal-body  text-center">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="form-group">
                            <h3>Select Virtual Account</h3>

                            <select name="" class="form-control">
                                <option>--Select Virtual Account --</option>

                                <option value="">Card 1</option>
                                <option value="">Card 1</option>

                            </select>
                        </div>
                    </div>
                    <hr class="clearfix">
                    <h1 class="text-center">Your code is  <br> <span class="text-primary"> 121547547</span></h1>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- withdrawal-code -->
@section Scripts{
     <script type="text/javascript">
         function SendRequest() {
             var count = @ViewBag.WalletCountOfSelf;
             if (count > 0) {
                 
                 window.location.href = "/SenderSendARequest/Index"
             } else {

                 $("#ErrorMsg").text("No Personal Kiiay wallet registered to request a payment");
                 $("#ErrorMsg").show();
             }
             
         }
         function PayRequest() {
             var count = @ViewBag.WalletCountOfSelf;
             if (count > 0) {

                 window.location.href = "/SenderPayARequest/Index"
             } else {

                 $("#ErrorMsg").text("No Personal Kiiay wallet registered to request a payment");
                 $("#ErrorMsg").show();
             }
             
         }
         function RequestHistory() {
             var count = @ViewBag.WalletCountOfSelf;
             if (count > 0) {
                 
                 window.location.href = "/SenderRequestHistory/Index"
             } else {

                 $("#ErrorMsg").text("No Personal Kiiay wallet registered to request a payment");
                 $("#ErrorMsg").show();
             }
             
         }
     </script>
    
    }