
@{
    ViewBag.Title = "MerChantConfirmation";
    Layout = "~/Areas/Businesses/Views/Shared/_Business_Layout.cshtml";
}

<div class="dynamic_bg_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h1>Merchant Confirmation</h1>

            </div>

        </div>
    </div>


</div>
<!--  -->
<!--  -->
<div class="real_form">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="login_signup">
                    
                    <p>
                        Thank you for showing the interest to join MoneyFex network of service providers, a members of the registration team will contact you shortly to complete your application.
                    </p>
                    <p>
                        An email with your initial registration code has been sent to the email address provided. Please quote this number when you contact us to inquire about the progress of your registration.
                    </p>
                </div>
            </div>

        </div>
    </div>


</div>

