
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MoneyFax Service">
    <meta name="keywords" content="MoneyFax Service ">
    <title>MoneyFex Service</title>

    <link rel="icon" type="image/png" href="~/Areas/Businesses/images/favicon.png">

    <!-- Bootstrap -->
    <link href="~/Areas/Businesses/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Businesses/css/style.css" rel="stylesheet">
    <link href="~/Areas/Businesses/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Areas/Businesses/css/fontello.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- owl Carousel Css -->
    <link href="~/Areas/Businesses/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Areas/Businesses/css/owl.theme.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="animsition">
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="onload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">MoneyFex -Business Registration</h4>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="hidden" name="ActivationCode" value="@ViewBag.ActivationCode" />
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="icon_al">
                                    <i class="fa fa-exclamation-triangle-yellow" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <label>Enter Business Registration Code</label>
                                </div>

                                <div class="col-lg-6 ">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="RegistrationCode"  placeholder="Enter Code"/>
                                        @Html.ValidationMessage("RegistrationCode", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <i>Please check your email address to get the registration code sent by MoneyFex.</i>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-lg">OK</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script src="~/Areas/Businesses/js/jquery.min.js"></script>
    <script src="~/Areas/Businesses/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#onload').modal('show');
        });
    </script>
</body>
</html>


    