
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}



@*<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Recovery Folder</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                    <ol class="breadcrumb">
                        <li><a href="/Admin/AdminDashboard">Dashboard</a></li>
                        <li class="active">Recovery Folder</li>
                    </ol>

                </div>
                 /.col-lg-12
            </div>
             /.row
            <div class="row">
                <div class="col-md-12">

                    <div class="white-box">

                        <div class="col-lg-4 pull-right m-b-20">
                            <div class="input-group">
                                <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control  " placeholder="Search Recovery Folder">
                                <span class="input-group-btn">
                                    <button type="button" class="btn waves-effect waves-light btn-info  "><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="panel panel-default">
                            <div class=" border_tbls">
                                <ul id="tree2">
                                    <li>
                                        <a href="#">TECH</a>

                                        <ul>
                                            <li>Company Maintenance</li>
                                            <li>
                                                Employees
                                                <ul>
                                                    <li>
                                                        Reports
                                                        <ul>
                                                            <li>Report1</li>
                                                            <li>Report2</li>
                                                            <li>Report3</li>
                                                        </ul>
                                                    </li>
                                                    <li>Employee Maint.</li>
                                                </ul>
                                            </li>
                                            <li>Human Resources</li>
                                        </ul>
                                    </li>
                                    <li>
                                        XRP
                                        <ul>
                                            <li>Company Maintenance</li>
                                            <li>
                                                Employees
                                                <ul>
                                                    <li>
                                                        Reports
                                                        <ul>
                                                            <li>Report1</li>
                                                            <li>Report2</li>
                                                            <li>Report3</li>
                                                        </ul>
                                                    </li>
                                                    <li>Employee Maint.</li>
                                                </ul>
                                            </li>
                                            <li>Human Resources</li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
    </div>*@

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12 ">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Basic Tree</h5>
                                    <hr>
                                </div>
                                <div class="card-block">
                                    <div class="card-block tree-view">
                                        <div id="basicTree">
                                            <ul>
                                                <li>
                                                    Admin
                                                    <ul>
                                                        <li data-jstree='{"opened":true}'>
                                                            Assets
                                                            <ul>
                                                                <li data-jstree='{"type":"file"}'>Css</li>
                                                                <li data-jstree='{"opened":true}'>
                                                                    Plugins
                                                                    <ul>
                                                                        <li data-jstree='{"selected":true,"type":"file"}'>Plugin one</li>
                                                                        <li data-jstree='{"type":"file"}'>Plugin two</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li data-jstree='{"opened":true}'>
                                                            Email Template
                                                            <ul>
                                                                <li data-jstree='{"type":"file"}'>Email one</li>
                                                                <li data-jstree='{"type":"file"}'>Email two</li>
                                                            </ul>
                                                        </li>
                                                        <li data-jstree='{"icon":"zmdi zmdi-view-dashboard"}'>Dashboard</li>
                                                        <li data-jstree='{"icon":"zmdi zmdi-format-underlined"}'>Typography</li>
                                                        <li data-jstree='{"opened":true}'>
                                                            User Interface
                                                            <ul>
                                                                <li data-jstree='{"type":"file"}'>Buttons</li>
                                                                <li data-jstree='{"type":"file"}'>Cards</li>
                                                            </ul>
                                                        </li>
                                                        <li data-jstree='{"icon":"zmdi zmdi-collection-text"}'>Forms</li>
                                                        <li data-jstree='{"icon":"zmdi zmdi-view-list"}'>Tables</li>
                                                    </ul>
                                                </li>
                                                <li data-jstree='{"type":"file"}'>Frontend</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
