
@{
    ViewBag.Title = "Business";
    Layout = "~/Areas/Admin/Views/Shared/New_Layout.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="card">

                                <div class="card-header border-bottom">
                                    <h4 class="f-left f-left m-t-5 m-b-0">System Control Business</h4>

                                </div>

                                <div class="card-body">
                                    <div class="row m-t-20 m-b-20">
                                        <!--  -->
                                        <div class="col-xl-3 col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-3 col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select City</option>
                                                    <option>London</option>

                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-3 col-md-6">
                                            <div class="form-group">
                                                <label>Business</label>
                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Business</option>
                                                    <option>All</option>
                                                    <option>Rohit Shrestha</option>
                                                    <option>Ram Krishna Dhakal</option>
                                                    <option>Dipendra Shrestha</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-xl-3 col-md-6">
                                            <div class="form-group">
                                                <label>Business Account No.</label>
                                                <input type="text" name=" " class=" form-control form-control-round form-control-bold" value="" placeholder="MFB454451" disabled>
                                            </div>
                                        </div>
                                        <!--  -->

                                    </div>
                                    <h4>System</h4>
                                    <hr>

                                    <div class="row">



                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="checkbox0">
                                                    <label class="border-checkbox-label" for="checkbox0"><b>Transfer Money from</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-2 text-center">
                                            <div class="form-group">
                                                <h2 class="text-primary">To</h2>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="clearfix">

                                        </div>
                                        <!--  -->
                                        <div class="col-lg-12">

                                            <ul class="checkbox-control">
                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="kiipaywallet">
                                                            <label class="border-checkbox-label" for="kiipaywallet">Pay KiiPay Wallet</label>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>

                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="familyfriends">
                                                            <label class="border-checkbox-label" for="familyfriends">Family & Friends</label>
                                                        </div>
                                                    </div>

                                                </li>

                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="bankaccount">
                                                            <label class="border-checkbox-label" for="bankaccount">Send to Bank Account</label>
                                                        </div>
                                                    </div>


                                                </li>

                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="othermobilewallet">
                                                            <label class="border-checkbox-label" for="othermobilewallet">Other Mobile Wallet</label>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="cashpickup">
                                                            <label class="border-checkbox-label" for="cashpickup">Cash Pickup</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!--  -->


                                        </div>
                                        <!--  -->
                                        <!--  -->
                                    </div>

                                    <hr>

                                    <div class="row">



                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="checkbox10">
                                                    <label class="border-checkbox-label" for="checkbox10"><b>Pay Bills Abroad from</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-2 text-center">
                                            <div class="form-group">
                                                <h2 class="text-primary">To</h2>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="clearfix">

                                        </div>
                                        <!--  -->
                                        <div class="col-lg-12">


                                            <ul class="checkbox-control">
                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="MonthlyBills">
                                                            <label class="border-checkbox-label" for="MonthlyBills">Pay Monthly Bills</label>
                                                        </div>
                                                    </div>
                                                </li>





                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Top-up-account">
                                                            <label class="border-checkbox-label" for="Top-up-account">Top-up an Account</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->

                                            </ul>

                                            <!--  -->
                                        </div>
                                    </div>

                                    <div class="clearfix">
                                        <hr>
                                    </div>

                                    <div class="row">



                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="payservicefrom">
                                                    <label class="border-checkbox-label" for="payservicefrom"><b>Pay for Services from</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-2 text-center">
                                            <div class="form-group">
                                                <h2 class="text-primary">To</h2>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-3">
                                            <div class="form-group">

                                                <select name="" class="js-example-data-array form-control form-control-round form-control-bold">
                                                    <option>Select Country</option>
                                                    <option>United Kingdom (GBP)</option>
                                                    <option>Nigeria (NGN)</option>
                                                    <option>Cameroon (XAF)</option>
                                                    <option>Ghana (GHS)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <div class="clearfix">

                                        </div>
                                        <!--  -->
                                        <div class="col-lg-12">
                                            <ul class="checkbox-control">
                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="schoolfee">
                                                            <label class="border-checkbox-label" for="schoolfee">School Fee</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="rent">
                                                            <label class="border-checkbox-label" for="rent">Rent</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Airtime">
                                                            <label class="border-checkbox-label" for="Airtime">Airtime Top-up</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Hospitalbill">
                                                            <label class="border-checkbox-label" for="Hospitalbill">Hospital Bill</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Insurance">
                                                            <label class="border-checkbox-label" for="Insurance">Insurance</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Hotelbill">
                                                            <label class="border-checkbox-label" for="Hotelbill">Hotel Bill</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Loan">
                                                            <label class="border-checkbox-label" for="Loan">Loan</label>
                                                        </div>
                                                    </div>

                                                </li>
                                                <!--  -->
                                                <!--  -->
                                                <li>
                                                    <!--  -->
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="Other">
                                                            <label class="border-checkbox-label" for="Other">Other</label>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="row">
                                                        <div class="col-lg-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control form-control-round form-control-bold">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>


                                            </ul>
                                        </div>


                                        <!--  -->
                                    </div>


                                    <hr>

                                    <div class="row">



                                        <!--  -->
                                        <div class="col-lg-12">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="addkiipaywallettofamily">
                                                    <label class="border-checkbox-label" for="addkiipaywallettofamily"><b>Add KiiPay Wallet for Family & Friends</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-12">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="requestpayment">
                                                    <label class="border-checkbox-label" for="requestpayment"><b>Request a Payment</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                    </div>


                                    <hr>

                                    <div class="row">



                                        <!--  -->
                                        <div class="col-lg-12">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="rkw">
                                                    <label class="border-checkbox-label" for="rkw"><b>Registered KiiPay Wallets</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->

                                        <ul class="col-lg-12">
                                            <li>
                                                <div class="border-checkbox-section">
                                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                                        <input class="border-checkbox" type="checkbox" id="Personalwallet">
                                                        <label class="border-checkbox-label" for="Personalwallet"><b>Personal Wallet</b></label>
                                                    </div>
                                                </div>
                                            </li>
                                            <ol class="checkbox-control">
                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="AddMoney">
                                                            <label class="border-checkbox-label" for="AddMoney">Add Money</label>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="WithdrawMoney">
                                                            <label class="border-checkbox-label" for="WithdrawMoney">Withdraw Money   </label>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="BankAccount">
                                                            <label class="border-checkbox-label" for="BankAccount">Bank Account</label>
                                                        </div>
                                                    </div>

                                                    <ol class="checkbox-control">
                                                        <li>
                                                            <div class="border-checkbox-section">
                                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                                    <input class="border-checkbox" type="checkbox" id="AddAccount">
                                                                    <label class="border-checkbox-label" for="AddAccount">Add a new Bank Account</label>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </ul>


                                        <ul class="col-lg-12">
                                            <li>
                                                <div class="border-checkbox-section">
                                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                                        <input class="border-checkbox" type="checkbox" id="kiipayfor-familyfriends">
                                                        <label class="border-checkbox-label" for="kiipayfor-familyfriends"><b>Family & Friends KiiPay Wallet</b></label>
                                                    </div>
                                                </div>
                                            </li>

                                            <ol class="checkbox-control">
                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="ControlWallet">
                                                            <label class="border-checkbox-label" for="ControlWallet">Control Wallet Usage</label>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="MoneyBetweenAccounts">
                                                            <label class="border-checkbox-label" for="MoneyBetweenAccounts">Transfer Money Between Accounts</label>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="RegisteredWallet">
                                                            <label class="border-checkbox-label" for="RegisteredWallet">Registered Wallet Profile</label>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id=">GetWithdrawalCode">
                                                            <label class="border-checkbox-label" for=">GetWithdrawalCode">Get Withdrawal Code for Wallets</label>
                                                        </div>
                                                    </div>
                                                </li>


                                            </ol>


                                        </ul>
                                    </div>


                                    <hr>


                                    <div class="row">

                                        <!--  -->
                                        <div class="col-lg-12">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="Transactioninprogress">
                                                    <label class="border-checkbox-label" for="Transactioninprogress"><b>Transaction in Progress</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->
                                        <!--  -->
                                        <div class="col-lg-12">
                                            <div class="border-checkbox-section">
                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                    <input class="border-checkbox" type="checkbox" id="TransactionHistory">
                                                    <label class="border-checkbox-label" for="TransactionHistory"><b>Transaction History</b></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  -->




                                        <ul class="col-lg-12">
                                            <li>
                                                <div class="border-checkbox-section">
                                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                                        <input class="border-checkbox" type="checkbox" id="Others">
                                                        <label class="border-checkbox-label" for="Others"><b>Others</b></label>
                                                    </div>
                                                </div>
                                            </li>

                                            <ol class="checkbox-control">
                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="AccountProfile">
                                                            <label class="border-checkbox-label" for="AccountProfile">Account Profile</label>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="SaveCredit/DebitCard">
                                                            <label class="border-checkbox-label" for="SaveCredit/DebitCard">Save Credit/Debit Card</label>
                                                        </div>
                                                    </div>

                                                    <ol class="checkbox-control">
                                                        <li>
                                                            <div class="border-checkbox-section">
                                                                <div class="border-checkbox-group border-checkbox-group-primary">
                                                                    <input class="border-checkbox" type="checkbox" id="AddNewCard">
                                                                    <label class="border-checkbox-label" for="AddNewCard">Add a New Card</label>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ol>
                                                </li>


                                                <li>
                                                    <div class="border-checkbox-section">
                                                        <div class="border-checkbox-group border-checkbox-group-primary">
                                                            <input class="border-checkbox" type="checkbox" id="SavedBankAccount">
                                                            <label class="border-checkbox-label" for="SavedBankAccount">Saved Bank Account</label>
                                                        </div>
                                                    </div>
                                                </li>


                                            </ol>


                                        </ul>



                                        <!--  -->
                                    </div>
                                    <hr>

                                    <button type="" class=" btn btn-primary  btn-round">Set Control</button>

                                </div>
                            </div>

                            <!--  -->

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
